In [1]:
import pandas as pd
import numpy as np
import xlrd
import re

In [2]:
# table = pd.read_excel("tabn236.30.xls")
table = pd.read_excel("tabn236.30.xls", skiprows=2, header=list(range(0,5)))
# table = pd.read_excel("tabn236.30.xls", skiprows=2, index_col=0, header=None)

In [3]:
table.head()

           State or jurisdiction Total expenditures    \
              Unnamed: 0_level_1                Total
              Unnamed: 0_level_2   Unnamed: 1_level_2
              Unnamed: 0_level_3   Unnamed: 1_level_3
                              1                    2
0         United States ........         7.076013e+08
1   Alabama ....................         8.030225e+06
2      Alaska ..................         2.582582e+06
3  Arizona .....................         1.053083e+07
4    Arkansas ..................         5.622673e+06

                                                                \
  Current expenditures for elementary and secondary programs
             Elementary/ secondary current expenditures, total
                                            Unnamed: 2_level_3
                                                            3
0                                       6.191646e+08
1                                       7.097472e+06
2                                       2.367707e+06
3                                       8.966684e+06
4                                       4.936465e+06

                                                                 \

         Instruction        Support services
  Unnamed: 3_level_3 Support services, total Student support\4\
                  4                       5                  6
0       3.760695e+08            2.177547e+08       3.594604e+07
1       4.049192e+06            2.563159e+06       4.461755e+05
2       1.266042e+06            1.013894e+06       1.836071e+05
3       4.828965e+06            3.669286e+06       6.876655e+05
4       2.769224e+06            1.898530e+06       2.669395e+05

                                                                             \


  Instruc- tional staff\5\ General adminis- tration School adminis- tration
                        7                        8                       9
0             2.916935e+07             1.230519e+07            3.456894e+07
1             2.985193e+05             1.824433e+05            4.427333e+05
2             1.965253e+05             3.385600e+04            1.447664e+05
3             4.345531e+05             1.739409e+05            5.029053e+05
4             4.151244e+05             1.248428e+05            2.588572e+05

                                                                             \


  Operation and maintenance Student transpor- tation Other support services
                         10                       11                     12
0              5.743347e+07             2.535029e+07           2.298140e+07
1              6.600538e+05             3.666710e+05           1.665625e+05
2              2.838423e+05             8.067306e+04           9.062366e+04
3              1.098094e+06             3.718321e+05           4.002946e+05
4              5.004338e+05             1.814358e+05           1.508963e+05

                                                    \

        Food services Enter- prise opera- tions\3\
  Unnamed: 12_level_3          Unnamed: 13_level_3
                   13                           14
0        2.409522e+07                  1245194.491
1        4.851207e+05                        0.000
2        7.681962e+04                    10952.395
3        4.671318e+05                     1301.380
4        2.630840e+05                     5627.214

                                                                  \
  Current expenditures for other programs\1\   Capital outlay\2\
                         Unnamed: 14_level_2 Unnamed: 15_level_2
                         Unnamed: 14_level_3 Unnamed: 15_level_3
                                          15                  16
0                                8660873.743        6.144196e+07
1                                 122765.235        6.374709e+05
2                                   7958.537        1.695823e+05
3                                  92293.083        1.220401e+06
4                                  30111.103        5.295401e+05


  Interest on school debt
      Unnamed: 16_level_2
      Unnamed: 16_level_3
                       17
0            1.833394e+07
1            1.725169e+05
2            3.733415e+04
3            2.514473e+05
4            1.265576e+05

In [4]:
table.columns[11]

('Total expenditures  ',
 'Current expenditures for elementary and secondary programs  ',
 'Support services',
 'Other support services',
 12)

In [5]:
[c for c in table.columns]

[('State or jurisdiction',
  'Unnamed: 0_level_1',
  'Unnamed: 0_level_2',
  'Unnamed: 0_level_3',
  1),
 ('Total expenditures  ',
  'Total',
  'Unnamed: 1_level_2',
  'Unnamed: 1_level_3',
  2),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Elementary/ secondary current expenditures, total',
  'Unnamed: 2_level_3',
  3),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Instruction',
  'Unnamed: 3_level_3',
  4),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Support services, total',
  5),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Student support\\4\\',
  6),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Instruc- tional staff\\5\\',
  7),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'General adminis- tration',
  8),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'School adminis- tration',
  9),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Operation and maintenance',
  10),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Student transpor- tation',
  11),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Support services',
  'Other support services',
  12),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Food services',
  'Unnamed: 12_level_3',
  13),
 ('Total expenditures  ',
  'Current expenditures for elementary and secondary programs  ',
  'Enter- prise opera- tions\\3\\',
  'Unnamed: 13_level_3',
  14),
 ('Total expenditures  ',
  'Current expenditures for other programs\\1\\',
  'Unnamed: 14_level_2',
  'Unnamed: 14_level_3',
  15),
 ('Total expenditures  ',
  'Capital outlay\\2\\',
  'Unnamed: 15_level_2',
  'Unnamed: 15_level_3',
  16),
 ('Total expenditures  ',
  'Interest on school debt',
  'Unnamed: 16_level_2',
  'Unnamed: 16_level_3',
  17)]

In [6]:
table = table.set_index(table.columns[0])

In [7]:
table

                                                   Total expenditures    \
                                                                  Total
                                                     Unnamed: 1_level_2
                                                     Unnamed: 1_level_3
                                                                     2
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                  7.076013e+08
Alabama ....................                               8.030225e+06
Alaska ..................                                  2.582582e+06
Arizona .....................                              1.053083e+07
Arkansas ..................                                5.622673e+06
...                                                                 ...
\3\Includes expenditures for operations funded ...                  NaN
\4\Includes expenditures for guidance, health, ...                  NaN
\5\Includes expenditures for curriculum develop...                  NaN
NOTE: Excludes expenditures for state education...                  NaN
SOURCE: U.S. Department of Education, National ...                  NaN

                                                                                                                 \
                                                   Current expenditures for elementary and secondary programs
                                                              Elementary/ secondary current expenditures, total
                                                                                             Unnamed: 2_level_3
                                                                                                             3
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                                                6.191646e+08
Alabama ....................                                                             7.097472e+06
Alaska ..................                                                                2.367707e+06
Arizona .....................                                                            8.966684e+06
Arkansas ..................                                                              4.936465e+06
...                                                                                                         ...
\3\Includes expenditures for operations funded ...                                                NaN
\4\Includes expenditures for guidance, health, ...                                                NaN
\5\Includes expenditures for curriculum develop...                                                NaN
NOTE: Excludes expenditures for state education...                                                NaN
SOURCE: U.S. Department of Education, National ...                                                NaN

                                                                       \

                                                          Instruction
                                                   Unnamed: 3_level_3
                                                                   4
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                3.760695e+08
Alabama ....................                             4.049192e+06
Alaska ..................                                1.266042e+06
Arizona .....................                            4.828965e+06
Arkansas ..................                              2.769224e+06
...                                                               ...
\3\Includes expenditures for operations funded ...                NaN
\4\Includes expenditures for guidance, health, ...                NaN
\5\Includes expenditures for curriculum develop...                NaN
NOTE: Excludes expenditures for state education...                NaN
SOURCE: U.S. Department of Education, National ...                NaN

                                                                            \

                                                          Support services
                                                   Support services, total
                                                                        5
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     2.177547e+08
Alabama ....................                                  2.563159e+06
Alaska ..................                                     1.013894e+06
Arizona .....................                                 3.669286e+06
Arkansas ..................                                   1.898530e+06
...                                                                    ...
\3\Includes expenditures for operations funded ...                     NaN
\4\Includes expenditures for guidance, health, ...                     NaN
\5\Includes expenditures for curriculum develop...                     NaN
NOTE: Excludes expenditures for state education...                     NaN
SOURCE: U.S. Department of Education, National ...                     NaN

                                                                       \


                                                   Student support\4\
                                                                   6
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                3.594604e+07
Alabama ....................                             4.461755e+05
Alaska ..................                                1.836071e+05
Arizona .....................                            6.876655e+05
Arkansas ..................                              2.669395e+05
...                                                               ...
\3\Includes expenditures for operations funded ...                NaN
\4\Includes expenditures for guidance, health, ...                NaN
\5\Includes expenditures for curriculum develop...                NaN
NOTE: Excludes expenditures for state education...                NaN
SOURCE: U.S. Department of Education, National ...                NaN

                                                                             \


                                                   Instruc- tional staff\5\
                                                                         7
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      2.916935e+07
Alabama ....................                                   2.985193e+05
Alaska ..................                                      1.965253e+05
Arizona .....................                                  4.345531e+05
Arkansas ..................                                    4.151244e+05
...                                                                     ...
\3\Includes expenditures for operations funded ...                      NaN
\4\Includes expenditures for guidance, health, ...                      NaN
\5\Includes expenditures for curriculum develop...                      NaN
NOTE: Excludes expenditures for state education...                      NaN
SOURCE: U.S. Department of Education, National ...                      NaN

                                                                             \


                                                   General adminis- tration
                                                                         8
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      1.230519e+07
Alabama ....................                                   1.824433e+05
Alaska ..................                                      3.385600e+04
Arizona .....................                                  1.739409e+05
Arkansas ..................                                    1.248428e+05
...                                                                     ...
\3\Includes expenditures for operations funded ...                      NaN
\4\Includes expenditures for guidance, health, ...                      NaN
\5\Includes expenditures for curriculum develop...                      NaN
NOTE: Excludes expenditures for state education...                      NaN
SOURCE: U.S. Department of Education, National ...                      NaN

                                                                            \


                                                   School adminis- tration
                                                                        9
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     3.456894e+07
Alabama ....................                                  4.427333e+05
Alaska ..................                                     1.447664e+05
Arizona .....................                                 5.029053e+05
Arkansas ..................                                   2.588572e+05
...                                                                    ...
\3\Includes expenditures for operations funded ...                     NaN
\4\Includes expenditures for guidance, health, ...                     NaN
\5\Includes expenditures for curriculum develop...                     NaN
NOTE: Excludes expenditures for state education...                     NaN
SOURCE: U.S. Department of Education, National ...                     NaN

                                                                              \


                                                   Operation and maintenance
                                                                          10
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                       5.743347e+07
Alabama ....................                                    6.600538e+05
Alaska ..................                                       2.838423e+05
Arizona .....................                                   1.098094e+06
Arkansas ..................                                     5.004338e+05
...                                                                      ...
\3\Includes expenditures for operations funded ...                       NaN
\4\Includes expenditures for guidance, health, ...                       NaN
\5\Includes expenditures for curriculum develop...                       NaN
NOTE: Excludes expenditures for state education...                       NaN
SOURCE: U.S. Department of Education, National ...                       NaN

                                                                             \


                                                   Student transpor- tation
                                                                         11
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      2.535029e+07
Alabama ....................                                   3.666710e+05
Alaska ..................                                      8.067306e+04
Arizona .....................                                  3.718321e+05
Arkansas ..................                                    1.814358e+05
...                                                                     ...
\3\Includes expenditures for operations funded ...                      NaN
\4\Includes expenditures for guidance, health, ...                      NaN
\5\Includes expenditures for curriculum develop...                      NaN
NOTE: Excludes expenditures for state education...                      NaN
SOURCE: U.S. Department of Education, National ...                      NaN

                                                                           \


                                                   Other support services
                                                                       12
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                    2.298140e+07
Alabama ....................                                 1.665625e+05
Alaska ..................                                    9.062366e+04
Arizona .....................                                4.002946e+05
Arkansas ..................                                  1.508963e+05
...                                                                   ...
\3\Includes expenditures for operations funded ...                    NaN
\4\Includes expenditures for guidance, health, ...                    NaN
\5\Includes expenditures for curriculum develop...                    NaN
NOTE: Excludes expenditures for state education...                    NaN
SOURCE: U.S. Department of Education, National ...                    NaN

                                                                        \

                                                         Food services
                                                   Unnamed: 12_level_3
                                                                    13
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                 2.409522e+07
Alabama ....................                              4.851207e+05
Alaska ..................                                 7.681962e+04
Arizona .....................                             4.671318e+05
Arkansas ..................                               2.630840e+05
...                                                                ...
\3\Includes expenditures for operations funded ...                 NaN
\4\Includes expenditures for guidance, health, ...                 NaN
\5\Includes expenditures for curriculum develop...                 NaN
NOTE: Excludes expenditures for state education...                 NaN
SOURCE: U.S. Department of Education, National ...                 NaN

                                                                                 \

                                                   Enter- prise opera- tions\3\
                                                            Unnamed: 13_level_3
                                                                             14
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                           1245194.491
Alabama ....................                                              0.000
Alaska ..................                                             10952.395
Arizona .....................                                          1301.380
Arkansas ..................                                            5627.214
...                                                                         ...
\3\Includes expenditures for operations funded ...                          NaN
\4\Includes expenditures for guidance, health, ...                          NaN
\5\Includes expenditures for curriculum develop...                          NaN
NOTE: Excludes expenditures for state education...                          NaN
SOURCE: U.S. Department of Education, National ...                          NaN

                                                                                               \
                                                   Current expenditures for other programs\1\
                                                                          Unnamed: 14_level_2
                                                                          Unnamed: 14_level_3
                                                                                           15
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                                         8660873.743
Alabama ....................                                                       122765.235
Alaska ..................                                                            7958.537
Arizona .....................                                                       92293.083
Arkansas ..................                                                         30111.103
...                                                                                       ...
\3\Includes expenditures for operations funded ...                                        NaN
\4\Includes expenditures for guidance, health, ...                                        NaN
\5\Includes expenditures for curriculum develop...                                        NaN
NOTE: Excludes expenditures for state education...                                        NaN
SOURCE: U.S. Department of Education, National ...                                        NaN

                                                                        \
                                                     Capital outlay\2\
                                                   Unnamed: 15_level_2
                                                   Unnamed: 15_level_3
                                                                    16
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                 6.144196e+07
Alabama ....................                              6.374709e+05
Alaska ..................                                 1.695823e+05
Arizona .....................                             1.220401e+06
Arkansas ..................                               5.295401e+05
...                                                                ...
\3\Includes expenditures for operations funded ...                 NaN
\4\Includes expenditures for guidance, health, ...                 NaN
\5\Includes expenditures for curriculum develop...                 NaN
NOTE: Excludes expenditures for state education...                 NaN
SOURCE: U.S. Department of Education, National ...                 NaN


                                                   Interest on school debt
                                                       Unnamed: 16_level_2
                                                       Unnamed: 16_level_3
                                                                        17
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     1.833394e+07
Alabama ....................                                  1.725169e+05
Alaska ..................                                     3.733415e+04
Arizona .....................                                 2.514473e+05
Arkansas ..................                                   1.265576e+05
...                                                                    ...
\3\Includes expenditures for operations funded ...                     NaN
\4\Includes expenditures for guidance, health, ...                     NaN
\5\Includes expenditures for curriculum develop...                     NaN
NOTE: Excludes expenditures for state education...                     NaN
SOURCE: U.S. Department of Education, National ...                     NaN

[75 rows x 16 columns]

In [8]:
table.iloc[0,0]

707601349.8560007

In [9]:
table.head()

                                                   Total expenditures    \
                                                                  Total
                                                     Unnamed: 1_level_2
                                                     Unnamed: 1_level_3
                                                                     2
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                  7.076013e+08
Alabama ....................                               8.030225e+06
Alaska ..................                                  2.582582e+06
Arizona .....................                              1.053083e+07
Arkansas ..................                                5.622673e+06

                                                                                                                 \
                                                   Current expenditures for elementary and secondary programs
                                                              Elementary/ secondary current expenditures, total
                                                                                             Unnamed: 2_level_3
                                                                                                             3
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                                                6.191646e+08
Alabama ....................                                                             7.097472e+06
Alaska ..................                                                                2.367707e+06
Arizona .....................                                                            8.966684e+06
Arkansas ..................                                                              4.936465e+06

                                                                       \

                                                          Instruction
                                                   Unnamed: 3_level_3
                                                                   4
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                3.760695e+08
Alabama ....................                             4.049192e+06
Alaska ..................                                1.266042e+06
Arizona .....................                            4.828965e+06
Arkansas ..................                              2.769224e+06

                                                                            \

                                                          Support services
                                                   Support services, total
                                                                        5
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     2.177547e+08
Alabama ....................                                  2.563159e+06
Alaska ..................                                     1.013894e+06
Arizona .....................                                 3.669286e+06
Arkansas ..................                                   1.898530e+06

                                                                       \


                                                   Student support\4\
                                                                   6
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                3.594604e+07
Alabama ....................                             4.461755e+05
Alaska ..................                                1.836071e+05
Arizona .....................                            6.876655e+05
Arkansas ..................                              2.669395e+05

                                                                             \


                                                   Instruc- tional staff\5\
                                                                         7
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      2.916935e+07
Alabama ....................                                   2.985193e+05
Alaska ..................                                      1.965253e+05
Arizona .....................                                  4.345531e+05
Arkansas ..................                                    4.151244e+05

                                                                             \


                                                   General adminis- tration
                                                                         8
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      1.230519e+07
Alabama ....................                                   1.824433e+05
Alaska ..................                                      3.385600e+04
Arizona .....................                                  1.739409e+05
Arkansas ..................                                    1.248428e+05

                                                                            \


                                                   School adminis- tration
                                                                        9
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     3.456894e+07
Alabama ....................                                  4.427333e+05
Alaska ..................                                     1.447664e+05
Arizona .....................                                 5.029053e+05
Arkansas ..................                                   2.588572e+05

                                                                              \


                                                   Operation and maintenance
                                                                          10
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                       5.743347e+07
Alabama ....................                                    6.600538e+05
Alaska ..................                                       2.838423e+05
Arizona .....................                                   1.098094e+06
Arkansas ..................                                     5.004338e+05

                                                                             \


                                                   Student transpor- tation
                                                                         11
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                      2.535029e+07
Alabama ....................                                   3.666710e+05
Alaska ..................                                      8.067306e+04
Arizona .....................                                  3.718321e+05
Arkansas ..................                                    1.814358e+05

                                                                           \


                                                   Other support services
                                                                       12
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                    2.298140e+07
Alabama ....................                                 1.665625e+05
Alaska ..................                                    9.062366e+04
Arizona .....................                                4.002946e+05
Arkansas ..................                                  1.508963e+05

                                                                        \

                                                         Food services
                                                   Unnamed: 12_level_3
                                                                    13
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                 2.409522e+07
Alabama ....................                              4.851207e+05
Alaska ..................                                 7.681962e+04
Arizona .....................                             4.671318e+05
Arkansas ..................                               2.630840e+05

                                                                                 \

                                                   Enter- prise opera- tions\3\
                                                            Unnamed: 13_level_3
                                                                             14
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                           1245194.491
Alabama ....................                                              0.000
Alaska ..................                                             10952.395
Arizona .....................                                          1301.380
Arkansas ..................                                            5627.214

                                                                                               \
                                                   Current expenditures for other programs\1\
                                                                          Unnamed: 14_level_2
                                                                          Unnamed: 14_level_3
                                                                                           15
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                                         8660873.743
Alabama ....................                                                       122765.235
Alaska ..................                                                            7958.537
Arizona .....................                                                       92293.083
Arkansas ..................                                                         30111.103

                                                                        \
                                                     Capital outlay\2\
                                                   Unnamed: 15_level_2
                                                   Unnamed: 15_level_3
                                                                    16
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                 6.144196e+07
Alabama ....................                              6.374709e+05
Alaska ..................                                 1.695823e+05
Arizona .....................                             1.220401e+06
Arkansas ..................                               5.295401e+05


                                                   Interest on school debt
                                                       Unnamed: 16_level_2
                                                       Unnamed: 16_level_3
                                                                        17
(State or jurisdiction, Unnamed: 0_level_1, Unn...
   United States ........                                     1.833394e+07
Alabama ....................                                  1.725169e+05
Alaska ..................                                     3.733415e+04
Arizona .....................                                 2.514473e+05
Arkansas ..................                                   1.265576e+05

In [10]:
table.index[62]

'Other jurisdictions'

In [11]:
table.columns[0]

('Total expenditures  ',
 'Total',
 'Unnamed: 1_level_2',
 'Unnamed: 1_level_3',
 2)

## Get formatting

In [12]:
book = xlrd.open_workbook('tabn236.30.xls',formatting_info=True)
sh = book.sheet_by_index(0)

for row in range(0,sh.nrows):
    font = book.font_list
    cell_val = sh.cell_value(row,1)
    cell_xf = book.xf_list[sh.cell_xf_index(row,1)]

    print(cell_val,font[cell_xf.font_index].bold)

 0
 0
Total expenditures   0
Total 0
 0
 0
2.0 0
707601349.8560007 1
8030224.761 0
2582582.394 0
10530825.991 0
5622673.401999999 0
87968217.615 0
 0
10632735.500999998 0
11573664.893000003 0
2247039.457 0
2625828.713 0
29875971.315 0
 0
20344480.235999998 0
2778687.684 0
2560406.465 0
34588140.119 0
11866553.709000003 0
 0
6809986.527 0
6279467.276999999 0
7878382.218 0
8983530.277 0
2838336.772 0
 0
14669628.435 0
17909571.167 0
19612463.243 0
14127455.587 0
4673531.906 0
 0
11189560.701000001 0
1908339.486 0
4844039.395 0
4987379.527 0
3082887.4579999996 0
 0
29839108.410999995 0
3901216.6249999995 0
67194753.949 0
15389536.185 0
1824683.688 0
 0
24503674.738 0
6228822.445 0
7731995.933000001 0
30765985.422000002 0
2591927.759 0
 0
9721717.412 0
1571669.8380000002 0
10418227.69 0
64601315.469000004 0
5813156.79 0
 0
1797465.137 0
16798809.47 0
16007632.144000001 0
3487740.735 0
11876059.371000001 0
1913258.4139999999 0
 0
 0
76796.686 0
361502.024 0
92633.217 0
2891749.451 0
172939.776 0
 0
 0
 0
 0
 0
 0
 0

In [13]:
font[book.xf_list[sh.cell_xf_index(7,2)].font_index].bold

1

In [14]:
sh.cell_value(67,0)

'Wyoming ...................'

In [15]:
sh.cell_xf_index(7,0)

69

In [16]:
formatting = book.format_list

In [17]:
dir(book.xf_list[sh.cell_xf_index(67,0)])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_alignment_flag',
 '_background_flag',
 '_border_flag',
 '_font_flag',
 '_format_flag',
 '_protection_flag',
 '_repr_these',
 'alignment',
 'background',
 'border',
 'dump',
 'font_index',
 'format_key',
 'is_style',
 'lotus_123_prefix',
 'parent_style_index',
 'protection',
 'xf_index']

In [18]:
dir(book.xf_list[sh.cell_xf_index(67,0)].border)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_repr_these',
 'bottom_colour_index',
 'bottom_line_style',
 'diag_colour_index',
 'diag_down',
 'diag_line_style',
 'diag_up',
 'dump',
 'left_colour_index',
 'left_line_style',
 'right_colour_index',
 'right_line_style',
 'top_colour_index',
 'top_line_style']

In [19]:
sh.cell_value(0,0)

'Table 236.30. Total expenditures for public elementary and secondary education and other related programs, by function and state or jurisdiction: 2016-17'

In [20]:
sh.cell_value(1,0)

'[In thousands of current dollars]'

In [21]:
sh.cell_value(2,0)

'State or jurisdiction'

In [22]:
sh.cell_value(3,0)

''

In [23]:
sh.cell_value(6,0)

1.0

In [24]:
sh.cell_value(7,0)

'   United States ........'

In [25]:
sh.cell_value(67,0), sh.cell_value(67,1)

('Wyoming ...................', 1913258.4139999999)

In [26]:
book.xf_list[sh.cell_xf_index(67,1)].border.bottom_line_style

6

In [27]:
sh.cell_value(7,0), sh.cell_value(7,1)

('   United States ........', 707601349.8560007)

In [28]:
book.xf_list[sh.cell_xf_index(7,1)].border.bottom_line_style

1

In [29]:
book.xf_list[sh.cell_xf_index(7,1)].border.left_line_style

1

In [30]:
book.xf_list[sh.cell_xf_index(7,0)].border.left_line_style

0

In [31]:
book.xf_list[sh.cell_xf_index(7,1)].border.right_line_style

1

In [32]:
book.xf_list[sh.cell_xf_index(7,0)].border.right_line_style

1

In [33]:
book.xf_list[sh.cell_xf_index(7,1)].border.bottom_line_style

1

In [34]:
book.font_list

[<xlrd.formatting.Font at 0x285e15e3ee0>,
 <xlrd.formatting.Font at 0x285e15e37f0>,
 <xlrd.formatting.Font at 0x285e15f8520>,
 <xlrd.formatting.Font at 0x285e15f8580>,
 <xlrd.formatting.Font at 0x285e15f84f0>,
 <xlrd.formatting.Font at 0x285e15f8610>,
 <xlrd.formatting.Font at 0x285e15fc100>,
 <xlrd.formatting.Font at 0x285e15fc130>,
 <xlrd.formatting.Font at 0x285e15fc160>,
 <xlrd.formatting.Font at 0x285e15fc1c0>,
 <xlrd.formatting.Font at 0x285e15fc250>,
 <xlrd.formatting.Font at 0x285e15fc220>,
 <xlrd.formatting.Font at 0x285e15fc280>,
 <xlrd.formatting.Font at 0x285e15fc2b0>,
 <xlrd.formatting.Font at 0x285e15fc2e0>,
 <xlrd.formatting.Font at 0x285e15fc310>,
 <xlrd.formatting.Font at 0x285e15fc340>,
 <xlrd.formatting.Font at 0x285e15fc370>,
 <xlrd.formatting.Font at 0x285e15fc3a0>,
 <xlrd.formatting.Font at 0x285e15fc3d0>,
 <xlrd.formatting.Font at 0x285e15fc400>,
 <xlrd.formatting.Font at 0x285e15fc430>,
 <xlrd.formatting.Font at 0x285e15fc460>,
 <xlrd.formatting.Font at 0x285e15fc490>,
 <xlrd.formatting.Font at 0x285e15fc4c0>]

In [35]:
dir(book)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_all_sheets_count',
 '_all_sheets_map',
 '_externsheet_info',
 '_externsheet_type_b57',
 '_extnsht_count',
 '_extnsht_name_from_num',
 '_position',
 '_repr_these',
 '_resources_released',
 '_rich_text_runlist_map',
 '_sh_abs_posn',
 '_sharedstrings',
 '_sheet_list',
 '_sheet_names',
 '_sheet_num_from_name',
 '_sheet_visibility',
 '_sheethdr_count',
 '_supbook_addins_inx',
 '_supbook_count',
 '_supbook_locals_inx',
 '_supbook_types',
 '_xf_epilogue_done',
 '_xf_index_to_xl_type_map',
 'actualfmtcount',
 'addin_func_names',
 'base',
 'biff2_8_load',
 'biff_version',
 'builtinfmtcount',
 'codepage',
 'colour_indexes_used',
 'colour_map',
 'countries',
 'datemode',
 'derive_encoding',
 'dump',
 'encoding',
 'encoding_override',
 'fake_globals_get_sheet',
 'filestr',
 'font_list',
 'format_list',
 'format_map',
 'formatting_info',
 'get2bytes',
 'get_record_parts',
 'get_record_parts_conditional',
 'get_sheet',
 'get_sheets',
 'getbof',
 'handle_boundsheet',
 'handle_builtinfmtcount',
 'handle_codepage',
 'handle_country',
 'handle_datemode',
 'handle_efont',
 'handle_externname',
 'handle_externsheet',
 'handle_filepass',
 'handle_font',
 'handle_format',
 'handle_name',
 'handle_obj',
 'handle_palette',
 'handle_sheethdr',
 'handle_sheetsoffset',
 'handle_sst',
 'handle_style',
 'handle_supbook',
 'handle_writeaccess',
 'handle_xf',
 'initialise_format_info',
 'is_date_format_string',
 'load_time_stage_1',
 'load_time_stage_2',
 'logfile',
 'mem',
 'name_and_scope_map',
 'name_map',
 'name_obj_list',
 'names_epilogue',
 'nsheets',
 'on_demand',
 'palette_epilogue',
 'palette_record',
 'parse_globals',
 'ragged_rows',
 'raw_user_name',
 'read',
 'release_resources',
 'sheet_by_index',
 'sheet_by_name',
 'sheet_loaded',
 'sheet_names',
 'sheets',
 'stream_len',
 'style_name_map',
 'unload_sheet',
 'use_mmap',
 'user_name',
 'verbosity',
 'xf_epilogue',
 'xf_list',
 'xfcount']

In [36]:
dir(book.format_list[0])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_repr_these',
 'dump',
 'format_key',
 'format_str',
 'type']

In [37]:
book.format_list[0].dump()

format_key: 5
format_str: '"$"#,##0_);\\("$"#,##0\\)'
type: 3

## Formatting row names

In [38]:
sh.cell_value(7,0)

'   United States ........'

In [39]:
sh.cell_value(7,0).strip(" .")

'United States'

In [40]:
sh.cell_value(7,1)

707601349.8560007

# Table Info Tab

In [41]:
digest_table_id = "236.30"
digest_table_year = "2019"
digest_table_sub_id = "A"

It would be nice to create a class to store all of the values

In [42]:
book = xlrd.open_workbook('tabn236.30.xls',formatting_info=True)
sh = book.sheet_by_index(0)
font = book.font_list

# for row in range(0,sh.nrows):
#     cell_val = sh.cell_value(row,1)
#     cell_xf = book.xf_list[sh.cell_xf_index(row,1)]

#     print(cell_val,font[cell_xf.font_index].bold)

### Table Title

In [43]:
sh.cell_value(0,0)

'Table 236.30. Total expenditures for public elementary and secondary education and other related programs, by function and state or jurisdiction: 2016-17'

In [44]:
prog = re.compile(r"Table (\d{3}\.\d{2})\. (.*)")

In [45]:
result = prog.match(sh.cell_value(0,0))

In [46]:
print(result.group(0))
print(result.group(1))
print(result.group(2))

Table 236.30. Total expenditures for public elementary and secondary education and other related programs, by function and state or jurisdiction: 2016-17
236.30
Total expenditures for public elementary and secondary education and other related programs, by function and state or jurisdiction: 2016-17

In [47]:
table_title = result.group(2)

### Headnote

In [48]:
sh.cell_value(1,0)

'[In thousands of current dollars]'

In [49]:
headnote = sh.cell_value(1,0)

### Stub Head

In [50]:
sh.cell_value(2,0)

'State or jurisdiction'

## Read in the header

Identify the row of numbers

In [51]:
# read in the raw dataset from excel
df = pd.read_excel("tabn236.30.xls", header=None)

In [52]:
row1 = list(range(1,sh.ncols+1))
row1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [53]:
row2 = list(df.iloc[6,:])
row2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [54]:
row1 == row2

True

In [55]:
def header_end(sheet, df):
    """Returns the row number of the integer row"""
    
    for row in range(0,sheet.nrows):
        if list(df.iloc[row,:]) == list(range(1,sheet.ncols+1)):
            return row
        
    print("End of file reached, no integer row")
    return 0

In [56]:
def attach_header(file_name, sheet, df):
    """Returns the same dataframe with formatted column headers"""
    
    header_n = header_end(sheet, df)
    skip = 2
    header = pd.read_excel(file_name, 
                               skiprows=skip, 
                               header=None, 
                               nrows=header_n-skip,
                               usecols=list(range(1,sh.ncols))
                          )
    header = header.ffill(axis=0).ffill(axis=1)
    data = pd.read_excel(file_name,
                         skiprows=header_n + 1,
                         header=None,
                         usecols=list(range(1,sh.ncols))
                        )
    data.columns = pd.MultiIndex.from_arrays(header.values)
    
    return data

In [57]:
data = attach_header("tabn236.30.xls", sh, df)

In [58]:
data.head()

  Total expenditures    \
                 Total
                 Total
                 Total
0         7.076013e+08
1         8.030225e+06
2         2.582582e+06
3         1.053083e+07
4         5.622673e+06

                                                                              \
  Current expenditures for elementary and secondary programs
             Elementary/ secondary current expenditures, total   Instruction
             Elementary/ secondary current expenditures, total   Instruction
0                                       6.191646e+08            3.760695e+08
1                                       7.097472e+06            4.049192e+06
2                                       2.367707e+06            1.266042e+06
3                                       8.966684e+06            4.828965e+06
4                                       4.936465e+06            2.769224e+06

                                                                       \

         Support services
  Support services, total Student support\4\ Instruc- tional staff\5\
0            2.177547e+08       3.594604e+07             2.916935e+07
1            2.563159e+06       4.461755e+05             2.985193e+05
2            1.013894e+06       1.836071e+05             1.965253e+05
3            3.669286e+06       6.876655e+05             4.345531e+05
4            1.898530e+06       2.669395e+05             4.151244e+05

                                                                              \


  General adminis- tration School adminis- tration Operation and maintenance
0             1.230519e+07            3.456894e+07              5.743347e+07
1             1.824433e+05            4.427333e+05              6.600538e+05
2             3.385600e+04            1.447664e+05              2.838423e+05
3             1.739409e+05            5.029053e+05              1.098094e+06
4             1.248428e+05            2.588572e+05              5.004338e+05

                                                                 \

                                                  Food services
  Student transpor- tation Other support services Food services
0             2.535029e+07           2.298140e+07  2.409522e+07
1             3.666710e+05           1.665625e+05  4.851207e+05
2             8.067306e+04           9.062366e+04  7.681962e+04
3             3.718321e+05           4.002946e+05  4.671318e+05
4             1.814358e+05           1.508963e+05  2.630840e+05

                                                                           \
                               Current expenditures for other programs\1\
  Enter- prise opera- tions\3\ Current expenditures for other programs\1\
  Enter- prise opera- tions\3\ Current expenditures for other programs\1\
0                  1245194.491                                8660873.743
1                        0.000                                 122765.235
2                    10952.395                                   7958.537
3                     1301.380                                  92293.083
4                     5627.214                                  30111.103


  Capital outlay\2\ Interest on school debt
  Capital outlay\2\ Interest on school debt
  Capital outlay\2\ Interest on school debt
0      6.144196e+07            1.833394e+07
1      6.374709e+05            1.725169e+05
2      1.695823e+05            3.733415e+04
3      1.220401e+06            2.514473e+05
4      5.295401e+05            1.265576e+05

Currently, problem with values repeated down, but we should be able to clean these up in the output stage

In [59]:
data.columns.to_frame(index=False)

,0,1,2,3
0,Total expenditures,Total,Total,Total
1,Total expenditures,Current expenditures for elementary and second...,"Elementary/ secondary current expenditures, total","Elementary/ secondary current expenditures, total"
2,Total expenditures,Current expenditures for elementary and second...,Instruction,Instruction
3,Total expenditures,Current expenditures for elementary and second...,Support services,"Support services, total"
4,Total expenditures,Current expenditures for elementary and second...,Support services,Student support\4\
5,Total expenditures,Current expenditures for elementary and second...,Support services,Instruc- tional staff\5\
6,Total expenditures,Current expenditures for elementary and second...,Support services,General adminis- tration
7,Total expenditures,Current expenditures for elementary and second...,Support services,School adminis- tration
8,Total expenditures,Current expenditures for elementary and second...,Support services,Operation and maintenance
9,Total expenditures,Current expenditures for elementary and second...,Support services,Student transpor- tation
10,Total expenditures,Current expenditures for elementary and second...,Support services,Other support services
11,Total expenditures,Current expenditures for elementary and second...,Food services,Food services
12,Total expenditures,Current expenditures for elementary and second...,Enter- prise opera- tions\3\,Enter- prise opera- tions\3\
13,Total expenditures,Current expenditures for other programs\1\,Current expenditures for other programs\1\,Current expenditures for other programs\1\
14,Total expenditures,Capital outlay\2\,Capital outlay\2\,Capital outlay\2\
15,Total expenditures,Interest on school debt,Interest on school debt,Interest on school debt

In [60]:
col_info = data.columns.to_frame(index=False)
is_duplicate = col_info.apply(lambda row: row.duplicated(), axis=1)
col_info = col_info.where(~is_duplicate, "")

### Create extra columns levels for unused columns levels

In [61]:
for x in range(col_info.shape[1], 7):
    col_info.insert(x, x, "")

In [62]:
col_info.columns = [f"column_level_{col+1}" for col in col_info.columns]

In [63]:
col_info["digest_table_id"] = digest_table_id

In [64]:
col_info["digest_table_year"] = digest_table_year

### Column Index

In [65]:
def AA(num, string):
    """Recursively builds column index
    
    Inspired by from this Stackoverflow answer:
    https://stackoverflow.com/a/54837286
    """
    
    r = num % 26
    num = (num - r) // 26
    string = chr(ord("A") + r) + string
    
    if num > 26:
        string = AA(num, string)
    elif num > 0:
        string = chr(ord("A") + num - 1) + string
        
    return string

In [66]:
col_info["column_index"] = [AA(i,"") for i in col_info.index]

## Create Column Info Sheet

In [89]:
def create_col_info(df):
    """Returns DataFrame with column information"""
    
    # convert header df to col_info dataframe
    col_info = data.columns.to_frame(index=False)
    is_duplicate = col_info.apply(lambda row: row.duplicated(), axis=1)
    col_info = col_info.where(~is_duplicate, "")
    
    # create extra columns for unused columns index levels
    for x in range(col_info.shape[1], 7):
        col_info.insert(x, x, "")
    
    # label column levels
    col_info.columns = [f"column_level_{col+1}" for col in col_info.columns]
    
    # add table_id and table_year to col_info
    col_info["digest_table_id"] = digest_table_id
    col_info["digest_table_year"] = digest_table_year
    
    # create column_index field
    col_info["column_index"] = [AA(i,"") for i in col_info.index]
    
    return col_info

In [154]:
col_info = create_col_info(data)
col_info

,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,digest_table_id,digest_table_year,column_index
0,Total expenditures,Total,,,,,,236.30,2019,A
1,Total expenditures,Current expenditures for elementary and second...,"Elementary/ secondary current expenditures, total",,,,,236.30,2019,B
2,Total expenditures,Current expenditures for elementary and second...,Instruction,,,,,236.30,2019,C
3,Total expenditures,Current expenditures for elementary and second...,Support services,"Support services, total",,,,236.30,2019,D
4,Total expenditures,Current expenditures for elementary and second...,Support services,Student support\4\,,,,236.30,2019,E
5,Total expenditures,Current expenditures for elementary and second...,Support services,Instruc- tional staff\5\,,,,236.30,2019,F
6,Total expenditures,Current expenditures for elementary and second...,Support services,General adminis- tration,,,,236.30,2019,G
7,Total expenditures,Current expenditures for elementary and second...,Support services,School adminis- tration,,,,236.30,2019,H
8,Total expenditures,Current expenditures for elementary and second...,Support services,Operation and maintenance,,,,236.30,2019,I
9,Total expenditures,Current expenditures for elementary and second...,Support services,Student transpor- tation,,,,236.30,2019,J
10,Total expenditures,Current expenditures for elementary and second...,Support services,Other support services,,,,236.30,2019,K
11,Total expenditures,Current expenditures for elementary and second...,Food services,,,,,236.30,2019,L
12,Total expenditures,Current expenditures for elementary and second...,Enter- prise opera- tions\3\,,,,,236.30,2019,M
13,Total expenditures,Current expenditures for other programs\1\,,,,,,236.30,2019,N
14,Total expenditures,Capital outlay\2\,,,,,,236.30,2019,O
15,Total expenditures,Interest on school debt,,,,,,236.30,2019,P

### Column Ref Notes

In [69]:
sh.cell_value(75,0)

'\\1\\Includes expenditures for adult education, community colleges, private school programs funded by local and state education agencies, and community services.   '

In [70]:
sh.cell_value(75,0).startswith("\\1\\")

True

In [71]:
re.match(r"^\\([0-9])\\(.*)", sh.cell_value(75,0)).group(0)

'\\1\\Includes expenditures for adult education, community colleges, private school programs funded by local and state education agencies, and community services.   '

In [72]:
re.match(r"^\\([0-9])\\(.*)", sh.cell_value(75,0)).group(1)

'1'

In [73]:
re.match(r"^\\([0-9])\\(.*)", sh.cell_value(75,0)).group(2)

'Includes expenditures for adult education, community colleges, private school programs funded by local and state education agencies, and community services.   '

In [74]:
footnote = re.compile(r"^\\([0-9])\\(.*)")

In [75]:
footnote.match(sh.cell_value(75,0))

### Column Footnotes

In [76]:
has_footnote = re.compile(r".*\\([0-9])\\$")

In [77]:
has_footnote.match(sh.cell_value(0,0)) == None

True

In [78]:
sh.cell_value(5,5)

'Student support\\4\\'

In [79]:
has_footnote.match(sh.cell_value(5,5))

In [80]:
has_footnote.match(sh.cell_value(5,5)).group(1)

'4'

In [81]:
sh.cell_value(4,4)

'Support services'

In [82]:
# read in the raw dataset from excel
df = pd.read_excel("tabn236.30.xls", header=None)

In [83]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Table 236.30. Total expenditures for public el...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[In thousands of current dollars],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State or jurisdiction,Total expenditures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,Current expenditures for elementary and second...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Current expenditures for other programs\1\,Capital outlay\2\,Interest on school debt
4,NaN,NaN,"Elementary/ secondary current expenditures, total",Instruction,Support services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Food services,Enter- prise opera- tions\3\,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,\3\Includes expenditures for operations funded...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"\4\Includes expenditures for guidance, health,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,\5\Includes expenditures for curriculum develo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NOTE: Excludes expenditures for state educatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# Extract footnotes from raw df
footnotes = df[0].str.extract(r"\\([0-9])\\(.*)").dropna()
footnotes.columns = ["number", "note"]
footnotes = footnotes.set_index("number")
footnotes

                                                     note
number
1       Includes expenditures for adult education, com...
2       Includes expenditures for property and for bui...
3       Includes expenditures for operations funded by...
4       Includes expenditures for guidance, health, at...
5       Includes expenditures for curriculum developme...

In [132]:
# Extract footnotes from raw df
footnotes = df[0].str.extract(r"\\([0-9])\\(.*)").dropna().set_index(0)
footnotes_dict = footnotes.to_dict()[1]

In [155]:
# create column_ref_note columns
for x in range(1,8):
    col = col_info[f"column_level_{x}"]
    
    # create a reference column with the footnote number
    refs = col.str.extract(r"\\([0-9])\\")
    
    # create new column with the reference note
    col_info[f"column_ref_note_{x}"] = refs.replace(footnotes_dict)
    
    # delete footnote from column_level_x
    col_level = col.str.replace(
        pat = r"\\[0-9]\\",
        repl = ""
    )
    
    col_info[f"column_level_{x}"] = col_level
    
col_info = col_info.fillna("")

In [156]:
col_info

,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,digest_table_id,digest_table_year,column_index,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,Total expenditures,Total,,,,,,236.30,2019,A,,,,,,,
1,Total expenditures,Current expenditures for elementary and second...,"Elementary/ secondary current expenditures, total",,,,,236.30,2019,B,,,,,,,
2,Total expenditures,Current expenditures for elementary and second...,Instruction,,,,,236.30,2019,C,,,,,,,
3,Total expenditures,Current expenditures for elementary and second...,Support services,"Support services, total",,,,236.30,2019,D,,,,,,,
4,Total expenditures,Current expenditures for elementary and second...,Support services,Student support,,,,236.30,2019,E,,,,"Includes expenditures for guidance, health, at...",,,
5,Total expenditures,Current expenditures for elementary and second...,Support services,Instruc- tional staff,,,,236.30,2019,F,,,,Includes expenditures for curriculum developme...,,,
6,Total expenditures,Current expenditures for elementary and second...,Support services,General adminis- tration,,,,236.30,2019,G,,,,,,,
7,Total expenditures,Current expenditures for elementary and second...,Support services,School adminis- tration,,,,236.30,2019,H,,,,,,,
8,Total expenditures,Current expenditures for elementary and second...,Support services,Operation and maintenance,,,,236.30,2019,I,,,,,,,
9,Total expenditures,Current expenditures for elementary and second...,Support services,Student transpor- tation,,,,236.30,2019,J,,,,,,,
10,Total expenditures,Current expenditures for elementary and second...,Support services,Other support services,,,,236.30,2019,K,,,,,,,
11,Total expenditures,Current expenditures for elementary and second...,Food services,,,,,236.30,2019,L,,,,,,,
12,Total expenditures,Current expenditures for elementary and second...,Enter- prise opera- tions,,,,,236.30,2019,M,,,Includes expenditures for operations funded by...,,,,
13,Total expenditures,Current expenditures for other programs,,,,,,236.30,2019,N,,"Includes expenditures for adult education, com...",,,,,
14,Total expenditures,Capital outlay,,,,,,236.30,2019,O,,Includes expenditures for property and for bui...,,,,,
15,Total expenditures,Interest on school debt,,,,,,236.30,2019,P,,,,,,,

In [157]:
# create list of columns in the desired order
col_list = [[f"column_level_{x}", f"column_ref_note_{x}"] for x in range(1,8)]
col_list = list(np.array(col_list).flatten())

### Need additional columns still

In [158]:
# rearrange column order
col_info = col_info[
    ['column_index', 'digest_table_id', 'digest_table_year'] + 
    col_list
]

In [159]:
col_info

,column_index,digest_table_id,digest_table_year,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,A,236.30,2019,Total expenditures,,Total,,,,,,,,,,,
1,B,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,"Elementary/ secondary current expenditures, total",,,,,,,,,
2,C,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Instruction,,,,,,,,,
3,D,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,"Support services, total",,,,,,,
4,E,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student support,"Includes expenditures for guidance, health, at...",,,,,,
5,F,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Instruc- tional staff,Includes expenditures for curriculum developme...,,,,,,
6,G,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,General adminis- tration,,,,,,,
7,H,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,School adminis- tration,,,,,,,
8,I,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Operation and maintenance,,,,,,,
9,J,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student transpor- tation,,,,,,,
10,K,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Other support services,,,,,,,
11,L,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Food services,,,,,,,,,
12,M,236.30,2019,Total expenditures,,Current expenditures for elementary and second...,,Enter- prise opera- tions,Includes expenditures for operations funded by...,,,,,,,,
13,N,236.30,2019,Total expenditures,,Current expenditures for other programs,"Includes expenditures for adult education, com...",,,,,,,,,,
14,O,236.30,2019,Total expenditures,,Capital outlay,Includes expenditures for property and for bui...,,,,,,,,,,
15,P,236.30,2019,Total expenditures,,Interest on school debt,,,,,,,,,,,

In [180]:
col_info = create_col_info(data)

# read in the raw dataset from excel
df = pd.read_excel("tabn236.30.xls", header=None)

# Extract footnotes from raw df
footnotes = df[0].str.extract(r"\\([0-9])\\(.*)").dropna()
footnotes.columns = ["number", "note"]
footnotes = footnotes.set_index("number")

# Extract footnotes from raw df
footnotes = df[0].str.extract(r"\\([0-9])\\(.*)").dropna().set_index(0)
footnotes_dict = footnotes.to_dict()[1]

# create column_ref_note columns
for x in range(1,8):
    col = col_info[f"column_level_{x}"]
    
    # create a reference column with the footnote number
    refs = col.str.extract(r"\\([0-9])\\")
    
    # create new column with the reference note
    col_info[f"column_ref_note_{x}"] = refs.replace(footnotes_dict)
    
    # delete footnote from column_level_x
    col_level = col.str.replace(
        pat = r"\\[0-9]\\",
        repl = ""
    )
    
    col_info[f"column_level_{x}"] = col_level

# Remove extra headers
col_info = col_info.fillna("")

# rearrange column order
col_info = col_info[
    ['digest_table_id', 'digest_table_year', 'column_index'] + 
    col_list
]

In [181]:
col_info

,digest_table_id,digest_table_year,column_index,column_level_1,column_ref_note_1,column_level_2,column_ref_note_2,column_level_3,column_ref_note_3,column_level_4,column_ref_note_4,column_level_5,column_ref_note_5,column_level_6,column_ref_note_6,column_level_7,column_ref_note_7
0,236.30,2019,A,Total expenditures,,Total,,,,,,,,,,,
1,236.30,2019,B,Total expenditures,,Current expenditures for elementary and second...,,"Elementary/ secondary current expenditures, total",,,,,,,,,
2,236.30,2019,C,Total expenditures,,Current expenditures for elementary and second...,,Instruction,,,,,,,,,
3,236.30,2019,D,Total expenditures,,Current expenditures for elementary and second...,,Support services,,"Support services, total",,,,,,,
4,236.30,2019,E,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student support,"Includes expenditures for guidance, health, at...",,,,,,
5,236.30,2019,F,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Instruc- tional staff,Includes expenditures for curriculum developme...,,,,,,
6,236.30,2019,G,Total expenditures,,Current expenditures for elementary and second...,,Support services,,General adminis- tration,,,,,,,
7,236.30,2019,H,Total expenditures,,Current expenditures for elementary and second...,,Support services,,School adminis- tration,,,,,,,
8,236.30,2019,I,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Operation and maintenance,,,,,,,
9,236.30,2019,J,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Student transpor- tation,,,,,,,
10,236.30,2019,K,Total expenditures,,Current expenditures for elementary and second...,,Support services,,Other support services,,,,,,,
11,236.30,2019,L,Total expenditures,,Current expenditures for elementary and second...,,Food services,,,,,,,,,
12,236.30,2019,M,Total expenditures,,Current expenditures for elementary and second...,,Enter- prise opera- tions,Includes expenditures for operations funded by...,,,,,,,,
13,236.30,2019,N,Total expenditures,,Current expenditures for other programs,"Includes expenditures for adult education, com...",,,,,,,,,,
14,236.30,2019,O,Total expenditures,,Capital outlay,Includes expenditures for property and for bui...,,,,,,,,,,
15,236.30,2019,P,Total expenditures,,Interest on school debt,,,,,,,,,,,

### Output to Excel

In [182]:
# make column names part of dataframe
col_info = pd.DataFrame(np.vstack([col_info.columns, col_info]))

# create file name
digest_number = digest_table_id.replace(".", "_")
file = f"{digest_table_year}_{digest_number}_activate_step1.xlsx"

# write to Excel file
col_info.to_excel(file, sheet_name="column_info", index=False, header=False)