In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '216.20'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [4]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,digest_table_sub_title_note,has_SE,location_in,year_in,year,location,location_info,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,216.20,2019,A,,,FALSE,Title,Column,,United States,,Number and enrollment of public elementary and...,,"School level, type, and charter, magnet, or vi...",,"U.S. Department of Education, National Center ...",This table was prepared November 2019.

In [5]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,is_standard_error,is_dollar,format_string,year,location,location_type,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,216.20,2019,A,,A,FALSE,,,1990-91,,,Number of schools,1990-91,,,,,,,,,,,,
1,216.20,2019,A,,B,FALSE,,,2000-01,,,Number of schools,2000-01,,,,,,,,,,,,
2,216.20,2019,A,,C,FALSE,,,2005-06,,,Number of schools,2005-06,,,,,,,,,,,,
3,216.20,2019,A,,D,FALSE,,,2010-11,,,Number of schools,2010-11,,,,,,,,,,,,
4,216.20,2019,A,,E,FALSE,,,2012-13,,,Number of schools,2012-13,,,,,,,,,,,,
5,216.20,2019,A,,F,FALSE,,,2013-14,,,Number of schools,2013-14,,,,,,,,,,,,
6,216.20,2019,A,,G,FALSE,,,2014-15,,,Number of schools,2014-15,,,,,,,,,,,,
7,216.20,2019,A,,H,FALSE,,,2015-16,,,Number of schools,2015-16,,,,,,,,,,,,
8,216.20,2019,A,,I,FALSE,,,2016-17,,,Number of schools,2016-17,,,,,,,,,,,,
9,216.20,2019,A,,J,FALSE,,,2017-18,,,Number of schools,2017-18,,,,,,,,,,,,
10,216.20,2019,A,,K,FALSE,,,1990-91,,,Fall enrollment,1990-91,,,,,,,,,,,,
11,216.20,2019,A,,L,FALSE,,,2000-01,,,Fall enrollment,2000-01,,,,,,,,,,,,
12,216.20,2019,A,,M,FALSE,,,2005-06,,,Fall enrollment,2005-06,,,,,,,,,,,,
13,216.20,2019,A,,N,FALSE,,,2010-11,,,Fall enrollment,2010-11,,,,,,,,,,,,
14,216.20,2019,A,,O,FALSE,,,2012-13,,,Fall enrollment,2012-13,,,,,,,,,,,,
15,216.20,2019,A,,P,FALSE,,,2013-14,,,Fall enrollment,2013-14,,,,,,,,,,,,
16,216.20,2019,A,,Q,FALSE,,,2014-15,,,Fall enrollment,2014-15,,,,,,,,,,,,
17,216.20,2019,A,,R,FALSE,,,2015-16,,,Fall enrollment,2015-16,,,,,,,,,,,,
18,216.20,2019,A,,S,FALSE,,,2016-17,,,Fall enrollment,2016-17,,,,,,,,,,,,
19,216.20,2019,A,,T,FALSE,,,2017-18,,,Fall enrollment,2017-18,,,,,,,,,,,,

In [6]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T
4,216.20,2019,A,,1,"Total, all schools",,,,,,,,,,,,,,TRUE,,,,84538,93273,97382,98817,98454,98271,98176,98277,98158,98469,41141366,47060714,48912085,49177617,49519559,49777410,50009771,50115178,50274747,50330241
6,216.20,2019,A,,2,"Total, all schools",,School type,,Regular,,,,,,,,,,FALSE,,,,80395,85422,87585,88929,89031,89183,89386,89501,89527,89914,40599943,46194730,47957375,48259245,48583049,48863752,49178890,49313134,49468870,49531526
7,216.20,2019,A,,3,"Total, all schools",,School type,,Special education,,,,,,,,,,FALSE,,,,1932,2008,2128,2206,2034,2010,1954,2005,1991,1903,209145,174577,222497,190910,198626,214611,186269,180155,184261,185073
8,216.20,2019,A,,4,"Total, all schools",,School type,,Vocational,,,,,,,,,,FALSE,,,,1060,1025,1221,1485,1403,1380,1387,1396,1391,1467,198117,199669,217621,164013,160207,148447,147550,146321,146601,147516
9,216.20,2019,A,,5,"Total, all schools",,School type,,Alternative,Includes schools that provide nontraditional e...,,,,,,,,,FALSE,,,,1151,4818,6448,6197,5986,5698,5449,5375,5249,5185,134161,491738,514592,563449,577677,550600,497062,475568,475015,466126
11,216.20,2019,A,,6,"Total, all schools",,School level and type,,Elementary,Includes schools beginning with grade 6 or bel...,,,,,,,,,FALSE,,,,59015,64601,66026,67086,66708,67034,67073,66758,66837,67408,26503677,30673453,31104018,31581751,31918613,32226881,32225908,32035708,32132682,32346383
12,216.20,2019,A,,7,"Total, all schools",,School level and type,,Elementary,Includes schools beginning with grade 6 or bel...,Regular,,,,,,,,FALSE,,,,58440,63674,64996,65874,65572,65948,66036,65734,65853,66436,26400740,30582610,31003942,31441027,31772432,32083759,32116995,31930363,32034365,32241347
13,216.20,2019,A,,8,"Total, all schools",,School level and type,,Elementary,Includes schools beginning with grade 6 or bel...,Special education,,,,,,,,FALSE,,,,419,496,508,587,541,543,578,568,551,555,58204,42127,49652,58987,59826,62596,54161,50508,43555,52522
14,216.20,2019,A,,9,"Total, all schools",,School level and type,,Elementary,Includes schools beginning with grade 6 or bel...,Vocational,,,,,,,,FALSE,,,,31,8,8,16,15,7,6,5,5,4,17686,2409,1713,3495,3734,1791,1749,1729,1960,1831
15,216.20,2019,A,,10,"Total, all schools",,School level and type,,Elementary,Includes schools beginning with grade 6 or bel...,Alternative,Includes schools that provide nontraditional e...,,,,,,,FALSE,,,,125,423,514,609,580,536,453,451,428,413,27047,46307,48711,78242,82621,78735,53003,53108,52802,50683
16,216.20,2019,A,,11,"Total, all schools",,School level and type,,Secondary,Includes schools with no grade lower than 7.,,,,,,,,,FALSE,,,,21135,21994,23998,24544,24294,24067,24181,24040,23814,23816,13569787,15038171,16219309,15692610,15670275,15640128,15731561,15748184,15798446,15759707
17,216.20,2019,A,,12,"Total, all schools",,School level and type,,Secondary,Includes schools with no grade lower than 7.,Regular,,,,,,,,FALSE,,,,19459,18456,19252,19449,19479,19411,19441,19325,19264,19171,13313097,14567969,15685032,15197786,15161226,15167671,15270834,15296173,15355391,15324419
18,216.20,2019,A,,13,"Total, all schools",,School level and type,,Secondary,Includes schools with no grade lower than 7.,Special education,,,,,,,,FALSE,,,,165,219,368,359,333,331,339,313,316,296,11913,12607,42696,27990,28235,28312,24729,21929,21700,21710
19,216.20,2019,A,,14,"Total, all schools",,School level and type,,Secondary,Includes schools with no grade lower than 7.,Vocational,,,,,,,,FALSE,,,,1010,997,1185,1387,1324,1311,1318,1329,1332,1427,174105,193981,209762,154088,154610,144066,144042,142611,142332,142915
20,216.20,2019,A,,15,"Total, all schools",,School level and type,,Secondary,Includes schools with no grade lower than 7.,Alternative,Includes schools that provide nontraditional e...,,,,,,,FALSE,,,,501,2322,3193,3349,3158,3014,3083,3073,2902,2922,70672,263614,281819,312746,326204,300079,291956,287471,279023,270663
21,216.20,2019,A,,16,"Total, all schools",,School level and type,,Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,,,,,,,,,FALSE,,,,2325,5096,5707,6137,6329,6189,6347,6788,6783,6344,925887,1266778,1526186,1897712,1926786,1898252,2049039,2329346,2335618,2216403
22,216.20,2019,A,,17,"Total, all schools",,School level and type,,Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,Regular,,,,,,,,FALSE,,,,1784,2780,3121,3363,3558,3446,3713,4236,4236,3936,855814,1007368,1263952,1620031,1649010,1611918,1790208,2085918,2078659,1965052
23,216.20,2019,A,,18,"Total, all schools",,School level and type,,Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,Special education,,,,,,,,FALSE,,,,376,715,735,964,935,940,935,923,907,877,43992,86253,91966,99120,107295,111958,106500,107658,112826,105334
24,216.20,2019,A,,19,"Total, all schools",,School level and type,,Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,Vocational,,,,,,,,FALSE,,,,19,20,28,82,64,62,63,62,54,36,6326,3279,6146,6430,1863,2590,1759,1981,2309,2770
25,216.20,2019,A,,20,"Total, all schools",,School level and type,,Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,Alternative,Includes schools that provide nontraditional e...,,,,,,,FALSE,,,,146,1581,1823,1728,1772,1741,1636,1567,1586,1495,19755,169878,164122,172131,168618,171786,150572,133789,141824,143247
26,216.20,2019,A,,21,"Total, all schools",,School level and type,,Other (not classified by grade span),,,,,,,,,,FALSE,,,,2063,1582,1651,1050,1123,981,575,691,724,901,142015,82312,62572,5544,3885,12149,3263,1940,8001,7748
27,216.20,2019,A,,22,"Total, all schools",,School level and type,,Other (not classified by grade span),,Regular,,,,,,,,FALSE,,,,712,512,216,243,422,378,196,206,174,371,30292,36783,4449,401,381,404,853,680,455,708
28,216.20,2019,A,,23,"Total, all schools",,School level and type,,Other (not classified by grade span),,Special education,,,,,,,,FALSE,,,,972,578,517,296,225,196,102,201,217,175,95036,33590,38183,4813,3270,11745,879,60,6180,5507
29,216.20,2019,A,,24,"Total, all schools",,School level and type,,Other (not classified by grade span),,Vocational,,,,,,,,FALSE,,,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
30,216.20,2019,A,,25,"Total, all schools",,School level and type,,Other (not classified by grade span),,Alternative,Includes schools that provide nontraditional e...,,,,,,,FALSE,,,,379,492,918,511,476,407,277,284,333,355,16687,11939,19940,330,234,0,1531,1200,1366,1533
32,216.20,2019,A,,26,"Total, all schools",,Charter status and level,,All charter schools,"Magnet, charter, and virtual schools are also ...",,,,,,,,,FALSE,,,,---,1993,3780,5274,6079,6465,6747,6855,7011,7193,---,448343,1012906,1787091,2269435,2522022,2721786,2845322,3010287,3143269
33,216.20,2019,A,,27,"Total, all schools",,Charter status and level,,All charter schools,"Magnet, charter, and virtual schools are also ...",Elementary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,1011,1969,2866,3388,3634,3851,3854,3934,4064,---,249101,532217,905575,1156075,1288568,1405015,1448523,1511812,1601350
34,216.20,2019,A,,28,"Total, all schools",,Charter status and level,,All charter schools,"Magnet, charter, and virtual schools are also ...",Secondary,Includes schools with no grade lower than 7.,,,,,,,FALSE,,,,---,467,1057,1368,1465,1522,1563,1576,1618,1667,---,79588,219627,341534,399921,443423,467231,482296,504301,539890
35,216.20,2019,A,,29,"Total, all schools",,Charter status and level,,All charter schools,"Magnet, charter, and virtual schools are also ...",Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,448,704,1027,1204,1268,1330,1406,1454,1458,---,117377,259837,539653,713073,789883,848875,914110,994021,1001788
36,216.20,2019,A,,30,"Total, all schools",,Charter status and level,,All charter schools,"Magnet, charter, and virtual schools are also ...",Other (not classified by grade span),,,,,,,,FALSE,,,,---,67,50,13,22,41,3,19,5,4,---,2277,1225,329,366,148,665,393,153,241
38,216.20,2019,A,,31,"Total, all schools",,Magnet status and level,,All magnet schools,"Magnet, charter, and virtual schools are also ...",,,,,,,,,FALSE,,,,---,1469,2736,2722,3151,3254,3285,3237,3164,3421,---,1213976,2103013,2055133,2478531,2556644,2609104,2604145,2537011,2665820
39,216.20,2019,A,,32,"Total, all schools",,Magnet status and level,,All magnet schools,"Magnet, charter, and virtual schools are also ...",Elementary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,1111,1994,1849,2150,2164,2216,2135,2087,2307,---,704763,1186160,1035288,1287771,1300317,1312571,1281873,1266076,1370347
40,216.20,2019,A,,33,"Total, all schools",,Magnet status and level,,All magnet schools,"Magnet, charter, and virtual schools are also ...",Secondary,Includes schools with no grade lower than 7.,,,,,,,FALSE,,,,---,328,643,746,862,939,911,884,853,931,---,484684,869010,944434,1118574,1178272,1207248,1188316,1141181,1184412
41,216.20,2019,A,,34,"Total, all schools",,Magnet status and level,,All magnet schools,"Magnet, charter, and virtual schools are also ...",Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,29,80,103,121,133,142,203,205,165,---,24529,47509,75411,72148,78055,89277,133956,129752,111056
42,216.20,2019,A,,35,"Total, all schools",,Magnet status and level,,All magnet schools,"Magnet, charter, and virtual schools are also ...",Other (not classified by grade span),,,,,,,,FALSE,,,,---,1,19,24,18,18,16,15,19,18,---,0,334,0,38,0,8,0,2,5
44,216.20,2019,A,,36,"Total, all schools",,Virtual status and level,,All virtual schools,"Magnet, charter, and virtual schools are also ...",,,,,,,,,FALSE,,,,---,---,---,---,---,477,576,592,562,656,---,---,---,---,---,200343,229608,234148,212311,278783
45,216.20,2019,A,,37,"Total, all schools",,Virtual status and level,,All virtual schools,"Magnet, charter, and virtual schools are also ...",Elementary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,---,---,---,---,65,77,74,68,77,---,---,---,---,---,14277,19341,19064,14669,20941
46,216.20,2019,A,,38,"Total, all schools",,Virtual status and level,,All virtual schools,"Magnet, charter, and virtual schools are also ...",Secondary,Includes schools with no grade lower than 7.,,,,,,,FALSE,,,,---,---,---,---,---,100,132,144,132,159,---,---,---,---,---,18625,29303,32535,23355,36505
47,216.20,2019,A,,39,"Total, all schools",,Virtual status and level,,All virtual schools,"Magnet, charter, and virtual schools are also ...",Combined elementary/secondary,Includes schools beginning with grade 6 or bel...,,,,,,,FALSE,,,,---,---,---,---,---,310,366,373,361,415,---,---,---,---,---,167441,180964,182549,174287,221337
48,216.20,2019,A,,40,"Total, all schools",,Virtual status and level,,All virtual schools,"Magnet, charter, and virtual schools are also ...",Other (not classified by grade span),,,,,,,,FALSE,,,,---,---,---,---,---,2,1,1,1,5,---,---,---,---,---,0,0,0,0,0

In [7]:
tab.cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,is_standard_error,is_dollar,format_string,row_index,column_index,cell_note
0,216.20,2019,A,,FALSE,,,26,A,Not available.
1,216.20,2019,A,,FALSE,,,26,K,Not available.
2,216.20,2019,A,,FALSE,,,27,A,Not available.
3,216.20,2019,A,,FALSE,,,27,K,Not available.
4,216.20,2019,A,,FALSE,,,28,A,Not available.
5,216.20,2019,A,,FALSE,,,28,K,Not available.
6,216.20,2019,A,,FALSE,,,29,A,Not available.
7,216.20,2019,A,,FALSE,,,29,K,Not available.
8,216.20,2019,A,,FALSE,,,30,A,Not available.
9,216.20,2019,A,,FALSE,,,30,K,Not available.
10,216.20,2019,A,,FALSE,,,31,A,Not available.
11,216.20,2019,A,,FALSE,,,31,K,Not available.
12,216.20,2019,A,,FALSE,,,32,A,Not available.
13,216.20,2019,A,,FALSE,,,32,K,Not available.
14,216.20,2019,A,,FALSE,,,33,A,Not available.
15,216.20,2019,A,,FALSE,,,33,K,Not available.
16,216.20,2019,A,,FALSE,,,34,A,Not available.
17,216.20,2019,A,,FALSE,,,34,K,Not available.
18,216.20,2019,A,,FALSE,,,35,A,Not available.
19,216.20,2019,A,,FALSE,,,35,K,Not available.
20,216.20,2019,A,,FALSE,,,36,A,Not available.
21,216.20,2019,A,,FALSE,,,36,B,Not available.
22,216.20,2019,A,,FALSE,,,36,C,Not available.
23,216.20,2019,A,,FALSE,,,36,D,Not available.
24,216.20,2019,A,,FALSE,,,36,E,Not available.
25,216.20,2019,A,,FALSE,,,36,K,Not available.
26,216.20,2019,A,,FALSE,,,36,L,Not available.
27,216.20,2019,A,,FALSE,,,36,M,Not available.
28,216.20,2019,A,,FALSE,,,36,N,Not available.
29,216.20,2019,A,,FALSE,,,36,O,Not available.
30,216.20,2019,A,,FALSE,,,37,A,Not available.
31,216.20,2019,A,,FALSE,,,37,B,Not available.
32,216.20,2019,A,,FALSE,,,37,C,Not available.
33,216.20,2019,A,,FALSE,,,37,D,Not available.
34,216.20,2019,A,,FALSE,,,37,E,Not available.
35,216.20,2019,A,,FALSE,,,37,K,Not available.
36,216.20,2019,A,,FALSE,,,37,L,Not available.
37,216.20,2019,A,,FALSE,,,37,M,Not available.
38,216.20,2019,A,,FALSE,,,37,N,Not available.
39,216.20,2019,A,,FALSE,,,37,O,Not available.
40,216.20,2019,A,,FALSE,,,38,A,Not available.
41,216.20,2019,A,,FALSE,,,38,B,Not available.
42,216.20,2019,A,,FALSE,,,38,C,Not available.
43,216.20,2019,A,,FALSE,,,38,D,Not available.
44,216.20,2019,A,,FALSE,,,38,E,Not available.
45,216.20,2019,A,,FALSE,,,38,K,Not available.
46,216.20,2019,A,,FALSE,,,38,L,Not available.
47,216.20,2019,A,,FALSE,,,38,M,Not available.
48,216.20,2019,A,,FALSE,,,38,N,Not available.
49,216.20,2019,A,,FALSE,,,38,O,Not available.
50,216.20,2019,A,,FALSE,,,39,A,Not available.
51,216.20,2019,A,,FALSE,,,39,B,Not available.
52,216.20,2019,A,,FALSE,,,39,C,Not available.
53,216.20,2019,A,,FALSE,,,39,D,Not available.
54,216.20,2019,A,,FALSE,,,39,E,Not available.
55,216.20,2019,A,,FALSE,,,39,K,Not available.
56,216.20,2019,A,,FALSE,,,39,L,Not available.
57,216.20,2019,A,,FALSE,,,39,M,Not available.
58,216.20,2019,A,,FALSE,,,39,N,Not available.
59,216.20,2019,A,,FALSE,,,39,O,Not available.
60,216.20,2019,A,,FALSE,,,40,A,Not available.
61,216.20,2019,A,,FALSE,,,40,B,Not available.
62,216.20,2019,A,,FALSE,,,40,C,Not available.
63,216.20,2019,A,,FALSE,,,40,D,Not available.
64,216.20,2019,A,,FALSE,,,40,E,Not available.
65,216.20,2019,A,,FALSE,,,40,K,Not available.
66,216.20,2019,A,,FALSE,,,40,L,Not available.
67,216.20,2019,A,,FALSE,,,40,M,Not available.
68,216.20,2019,A,,FALSE,,,40,N,Not available.
69,216.20,2019,A,,FALSE,,,40,O,Not available.