In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '203.10'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [4]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,has_SE,location_in,year_in,year,location,Location_info,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,203.10,2019,A,,FALSE,Title,Row,,United States,,Enrollment in public elementary and secondary ...,[In thousands],Year,Due to changes in reporting and imputation pra...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.
1,203.10,2019,B,Projected,FALSE,Title,Row,,United States,,Enrollment in public elementary and secondary ...,[In thousands],Year,Due to changes in reporting and imputation pra...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.

In [5]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,standard_error,is_dollar,format_string,year,location,location_type,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,203.10,2019,A,,A,FALSE,,,,,,All grades,,,,,,,,,,,,,
1,203.10,2019,A,,B,FALSE,,,,,,Elementary,Total,,,,,,,,,,,,
2,203.10,2019,A,,C,FALSE,,,,,,Elementary,Prekindergarten,,,,,,,,,,,,
3,203.10,2019,A,,D,FALSE,,,,,,Elementary,Kindergarten,,,,,,,,,,,,
4,203.10,2019,A,,E,FALSE,,,,,,Elementary,1st grade,,,,,,,,,,,,
5,203.10,2019,A,,F,FALSE,,,,,,Elementary,2nd grade,,,,,,,,,,,,
6,203.10,2019,A,,G,FALSE,,,,,,Elementary,3rd grade,,,,,,,,,,,,
7,203.10,2019,A,,H,FALSE,,,,,,Elementary,4th grade,,,,,,,,,,,,
8,203.10,2019,A,,I,FALSE,,,,,,Elementary,5th grade,,,,,,,,,,,,
9,203.10,2019,A,,J,FALSE,,,,,,Elementary,6th grade,,,,,,,,,,,,
10,203.10,2019,A,,K,FALSE,,,,,,Elementary,7th grade,,,,,,,,,,,,
11,203.10,2019,A,,L,FALSE,,,,,,Elementary,8th grade,,,,,,,,,,,,
12,203.10,2019,A,,M,FALSE,,,,,,Elementary,Ungraded,,,,,,,,,,,,
13,203.10,2019,A,,N,FALSE,,,,,,Secondary,Total,,,,,,,,,,,,
14,203.10,2019,A,,O,FALSE,,,,,,Secondary,9th grade,,,,,,,,,,,,
15,203.10,2019,A,,P,FALSE,,,,,,Secondary,10th grade,,,,,,,,,,,,
16,203.10,2019,A,,Q,FALSE,,,,,,Secondary,11th grade,,,,,,,,,,,,
17,203.10,2019,A,,R,FALSE,,,,,,Secondary,12th grade,,,,,,,,,,,,
18,203.10,2019,A,,S,FALSE,,,,,,Secondary,Ungraded,,,,,,,Includes students reported as being enrolled i...,,,,,
0,203.10,2019,B,Projected,A,FALSE,,,,,,All grades,,,,,,,,,,,,,
1,203.10,2019,B,Projected,B,FALSE,,,,,,Elementary,Total,,,,,,,,,,,,
2,203.10,2019,B,Projected,C,FALSE,,,,,,Elementary,Prekindergarten,,,,,,,,,,,,
3,203.10,2019,B,Projected,D,FALSE,,,,,,Elementary,Kindergarten,,,,,,,,,,,,
4,203.10,2019,B,Projected,E,FALSE,,,,,,Elementary,1st grade,,,,,,,,,,,,
5,203.10,2019,B,Projected,F,FALSE,,,,,,Elementary,2nd grade,,,,,,,,,,,,
6,203.10,2019,B,Projected,G,FALSE,,,,,,Elementary,3rd grade,,,,,,,,,,,,
7,203.10,2019,B,Projected,H,FALSE,,,,,,Elementary,4th grade,,,,,,,,,,,,
8,203.10,2019,B,Projected,I,FALSE,,,,,,Elementary,5th grade,,,,,,,,,,,,
9,203.10,2019,B,Projected,J,FALSE,,,,,,Elementary,6th grade,,,,,,,,,,,,
10,203.10,2019,B,Projected,K,FALSE,,,,,,Elementary,7th grade,,,,,,,,,,,,
11,203.10,2019,B,Projected,L,FALSE,,,,,,Elementary,8th grade,,,,,,,,,,,,
12,203.10,2019,B,Projected,M,FALSE,,,,,,Elementary,Ungraded,,,,,,,,,,,,
13,203.10,2019,B,Projected,N,FALSE,,,,,,Secondary,Total,,,,,,,,,,,,
14,203.10,2019,B,Projected,O,FALSE,,,,,,Secondary,9th grade,,,,,,,,,,,,
15,203.10,2019,B,Projected,P,FALSE,,,,,,Secondary,10th grade,,,,,,,,,,,,
16,203.10,2019,B,Projected,Q,FALSE,,,,,,Secondary,11th grade,,,,,,,,,,,,
17,203.10,2019,B,Projected,R,FALSE,,,,,,Secondary,12th grade,,,,,,,,,,,,
18,203.10,2019,B,Projected,S,FALSE,,,,,,Secondary,Ungraded,,,,,,,Includes students reported as being enrolled i...,,,,,

In [6]:
tab.col_info['column_level_2'].values

array(['', 'Total', 'Prekindergarten', 'Kindergarten', '1st grade',
       '2nd grade', '3rd grade', '4th grade', '5th grade', '6th grade',
       '7th grade', '8th grade', 'Ungraded', 'Total', '9th grade',
       '10th grade', '11th grade', '12th grade', 'Ungraded', '', 'Total',
       'Prekindergarten', 'Kindergarten', '1st grade', '2nd grade',
       '3rd grade', '4th grade', '5th grade', '6th grade', '7th grade',
       '8th grade', 'Ungraded', 'Total', '9th grade', '10th grade',
       '11th grade', '12th grade', 'Ungraded'], dtype=object)

In [7]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S
5,203.10,2019,A,,1,1980,,,,,,,,,,,,,,FALSE,1980,,,40877.481,27646.536,96.133,2593.11,2894.473,2799.593,2893.007,3107.126,3129.864,3037.601,3085.185,3086.215,924.229,13230.945,3376.921,3367.839,3194.84,2925.093,366.252
6,203.10,2019,A,,2,1985,,,,,,,,,,,,,,FALSE,1985,,,39421.960999999996,27034.244,151.335,3041.071,3238.855,2940.995,2894.524,2771.015,2776.402,2788.817,2938.307,2981.883,511.04,12387.716999999999,3438.951,3230.13,2866.025,2549.614,302.997
7,203.10,2019,A,,3,1990,,,,,,,,,,,,,,FALSE,1990,,,41216.683000000005,29875.914,303.319,3306.329,3499.434,3327.454,3296.72,3248.065,3197.343,3110.172,3066.898,2979.123,541.057,11340.769,3168.63,2895.549,2611.633,2381.083,283.874
8,203.10,2019,A,,4,1991,,,,,,,,,,,,,,FALSE,1991,,,42046.878000000004,30502.523,375.458,3310.934,3556.28,3360.17,3333.962,3314.926,3268.431,3239.374,3181.024,3020.07,541.894,11544.355000000001,3313.235,2915.42,2645.1,2392.456,278.144
9,203.10,2019,A,,5,1992,,,,,,,,,,,,,,FALSE,1992,,,42823.312000000005,31086.039000000004,504.585,3312.777,3541.708,3431.291,3361.362,3341.737,3325.427,3302.671,3299.06,3129.006,536.415,11737.273000000001,3351.831,3027.271,2655.946,2430.536,271.689
10,203.10,2019,A,,6,1993,,,,,,,,,,,,,,FALSE,1993,,,43464.916,31501.847,545.135,3376.998,3529.072,3429.243,3436.978,3361.11,3350.453,3355.633,3355.288,3249.266,512.671,11963.069,3486.958,3050.404,2751.227,2424.031,250.449
11,203.10,2019,A,,7,1994,,,,,,,,,,,,,,FALSE,1994,,,44111.481999999996,31896.075999999997,602.535,3444.276,3593.382,3439.828,3439.042,3425.951,3371.884,3381.439,3403.55,3302.297,491.892,12215.406,3604.115,3131.234,2748.189,2487.552,244.316
12,203.10,2019,A,,8,1995,,,,,,,,,,,,,,FALSE,1995,,,44840.481,32338.311,636.846,3536.227,3670.903,3507.022,3444.74,3430.583,3437.943,3395.307,3422.29,3356.338,500.112,12502.169999999998,3704.455,3237.391,2826.023,2487.135,247.166
13,203.10,2019,A,,9,1996,,,,,,,,,,,,,,FALSE,1996,,,45611.046,32762.256,670.373,3532.263,3770.42,3600.076,3523.762,3453.769,3452.853,3493.631,3463.954,3402.615,398.54,12848.79,3801.22,3323.171,2930.297,2586.448,207.654
14,203.10,2019,A,,10,1997,,,,,,,,,,,,,,FALSE,1997,,,46126.897000000004,33071.020000000004,695.12,3503.491,3754.594,3688.972,3596.887,3507.457,3457.541,3492.49,3519.805,3415.114,439.549,13055.877,3818.843,3376.462,2971.923,2672.932,215.717
15,203.10,2019,A,,11,1998,,,,,,,,,,,,,,FALSE,1998,,,46538.585,33343.733,728.703,3442.874,3727.158,3681.463,3695.643,3592.153,3520.104,3496.812,3529.62,3480.371,448.832,13194.851999999999,3856.464,3382.134,3020.899,2721.709,213.646
16,203.10,2019,A,,12,1999,,,,,,,,,,,,,,FALSE,1999,,,46857.14899999999,33486.443999999996,751.175,3397.198,3684.123,3655.721,3690.653,3686.366,3603.664,3564.116,3541.273,3496.977,415.178,13370.704999999998,3934.876,3415.392,3033.941,2781.621,204.875
17,203.10,2019,A,,13,2000,,,,,,,,,,,,,,FALSE,2000,,,47203.539000000004,33686.421,776.064,3381.579,3635.665,3634.415,3675.802,3711.427,3706.657,3663.187,3629.317,3538.027,334.281,13517.117999999999,3963.294,3491.013,3082.842,2802.793,177.176
18,203.10,2019,A,,14,2001,,,,,,,,,,,,,,FALSE,2001,,,47671.87,33935.922,865.086,3379.151,3614.069,3593.337,3653.314,3694.898,3726.835,3768.809,3720.468,3615.94,304.015,13735.948000000002,4012.349,3527.859,3173.939,2862.861,158.94
19,203.10,2019,A,,15,2002,,,,,,,,,,,,,,FALSE,2002,,,48183.086,34114.245,914.879,3433.895,3593.839,3564.873,3622.79,3668.517,3711.466,3787.997,3821.369,3709.195,285.425,14068.841,4104.719,3584.412,3228.867,2989.509,161.334
20,203.10,2019,A,,16,2003,,,,,,,,,,,,,,FALSE,2003,,,48540.215,34200.741,949.649,3503.28,3612.509,3543.781,3611.041,3619.089,3684.539,3771.934,3840.514,3809.431,254.974,14339.473999999998,4190.237,3675.255,3277.218,3046.491,150.273
21,203.10,2019,A,,17,2004,,,,,,,,,,,,,,FALSE,2004,,,48795.465,34177.564999999995,990.421,3543.554,3663.005,3559.854,3580.462,3611.638,3635.181,3735.281,3818.427,3824.67,215.072,14617.9,4281.345,3750.491,3369.339,3094.349,122.376
22,203.10,2019,A,,18,2005,,,,,,,,,,,,,,FALSE,2005,,,49113.298,34203.96200000001,1036.466,3619.421,3690.854,3606.405,3586.107,3577.506,3632.829,3670.135,3777.151,3801.893,205.195,14909.335999999998,4287.123,3866.158,3454.423,3180.248,121.384
23,203.10,2019,A,,19,2006,,,,,,,,,,,,,,FALSE,2006,,,49315.842000000004,34234.751000000004,1084.391,3631.002,3751.144,3640.702,3627.487,3585.891,3601.796,3660.368,3716.076,3765.575,170.319,15081.090999999999,4259.909,3882.204,3551.445,3277.401,110.132
24,203.10,2019,A,,20,2007,,,,,,,,,,,,,,FALSE,2007,,,49290.559,34204.081,1081.114,3609.414,3750.072,3704.004,3658.857,3624.382,3600.092,3628.147,3700.418,3708.955,138.626,15086.478000000001,4199.826,3862.846,3557.482,3374.512,91.812
25,203.10,2019,A,,21,2008,,,,,,,,,,,,,,FALSE,2008,,,49265.57200000001,34285.564000000006,1179.507,3639.75,3708.485,3698.723,3707.772,3646.896,3629.079,3613.521,3652.623,3691.795,117.413,14980.008,4122.552,3822.2,3548.1,3399.689,87.467
26,203.10,2019,A,,22,2009,,,,,,,,,,,,,,FALSE,2009,,,49360.982,34409.26,1222.86,3677.971,3728.773,3664.697,3707.038,3700.53,3652.134,3644.057,3641.342,3651.276,118.582,14951.722,4080.016,3809.135,3540.964,3431.686,89.921
27,203.10,2019,A,,23,2010,,,,,,,,,,,,,,FALSE,2010,,,49484.181000000004,34624.530000000006,1278.678,3682.092,3753.951,3700.668,3685.833,3711.341,3717.521,3682.052,3676.309,3659.405,76.68,14859.651,4007.857,3799.883,3538.482,3471.888,41.541
28,203.10,2019,A,,24,2011,,,,,,,,,,,,,,FALSE,2011,,,49521.668999999994,34772.751,1290.977,3746.415,3772.639,3713.225,3703.314,3671.865,3699.119,3723.575,3695.995,3679.111,76.516,14748.918000000001,3956.99,3751.378,3545.841,3451.876,42.833
29,203.10,2019,A,,25,2012,,,,,,,,,,,,,,FALSE,2012,,,49771.117999999995,35017.893,1306.991,3830.982,3823.604,3729.465,3719.135,3690.224,3672.977,3723.354,3746.485,3698.977,75.699,14753.224999999999,3975.264,3729.96,3528.256,3477.025,42.72
30,203.10,2019,A,,26,2013,,,,,,,,,,,,,,FALSE,2013,,,50044.522,35250.791999999994,1328.434,3833.526,3884.82,3791.122,3737.69,3707.733,3696.718,3684.476,3747.574,3753.357,85.342,14793.73,3979.521,3760.559,3525.617,3476.132,51.901
31,203.10,2019,A,,27,2014,,,,,,,,,,,,,,FALSE,2014,,,50312.581,35369.693999999996,1369.355,3772.413,3863.494,3857.196,3806.164,3718.873,3719.054,3709.605,3709.735,3756.605,87.2,14942.887,4032.533,3793.886,3567.86,3496.484,52.124
32,203.10,2019,A,,28,2015,"The prekindergarten, elementary total, and ""al...",,,,,,,,,,,,,FALSE,2015,,,50438.043000000005,35387.986000000004,1401.645,3713.104,3768.136,3842.454,3868.95,3792.735,3732.882,3731.334,3731.547,3718.562,86.637,15050.057,4019.481,3846.035,3597.832,3537.232,49.477
33,203.10,2019,A,,29,2016,"The prekindergarten, elementary total, and ""al...",,,,,,,,,,,,,FALSE,2016,,,50615.189,35477.332,1425.654,3699.159,3693.847,3760.772,3874.023,3858.436,3813.738,3753.91,3761.002,3748.905,87.886,15137.856999999998,3986.172,3859.678,3669.059,3571.441,51.507
34,203.10,2019,A,,30,2017,"The prekindergarten, elementary total, and ""al...",,,,,,,,,,,,,FALSE,2017,,,50685.566999999995,35496.05499999999,1471.216,3684.238,3667.166,3684.091,3787.97,3859.475,3877.267,3827.023,3776.565,3772.276,88.768,15189.511999999999,3995.574,3833.718,3676.753,3631.45,52.017
36,203.10,2019,B,Projected,31,2018,,,,,,,,,,,,,,FALSE,2018,,,50649.828,35443.394,1474.095,3691.449,3638.741,3657.59,3709.445,3776.903,3872.425,3893.345,3851.757,3788.968,88.676,15206.434000000001,4020.506,3842.754,3652.029,3639.076,52.069
37,203.10,2019,B,Projected,32,2019,,,,,,,,,,,,,,FALSE,2019,,,50634.00600000001,35401.821,1482.905,3713.511,3645.208,3629.24,3682.762,3698.607,3789.576,3888.483,3918.508,3864.408,88.613,15232.185000000001,4038.297,3866.733,3660.637,3614.605,51.913
38,203.10,2019,B,Projected,33,2020,,,,,,,,,,,,,,FALSE,2020,,,50654.206000000006,35293.12,1488.693,3728.003,3664.721,3635.69,3654.216,3672.002,3711.017,3805.29,3913.615,3931.377,88.496,15361.086,4118.7,3883.843,3683.479,3623.125,51.939
39,203.10,2019,B,Projected,34,2021,,,,,,,,,,,,,,FALSE,2021,,,50643.121,35094.063,1484.046,3716.367,3678.929,3655.152,3660.71,3643.54,3684.323,3726.406,3829.884,3926.468,88.238,15549.058,4190.077,3961.171,3699.778,3645.733,52.299
40,203.10,2019,B,Projected,35,2022,,,,,,,,,,,,,,FALSE,2022,,,50721.176999999996,35018.636,1516.761,3798.293,3667.408,3669.323,3680.306,3650.015,3655.765,3699.601,3750.49,3842.462,88.212,15702.541,4184.844,4029.818,3773.442,3661.865,52.572
41,203.10,2019,B,Projected,36,2023,,,,,,,,,,,,,,FALSE,2023,,,50768.176999999996,35022.02,1524.879,3818.622,3748.531,3657.831,3694.575,3669.554,3662.263,3670.925,3723.512,3762.807,88.521,15746.157,4095.311,4024.786,3838.835,3734.774,52.451
42,203.10,2019,B,Projected,37,2024,,,,,,,,,,,,,,FALSE,2024,,,50757.685000000005,35122.708000000006,1532.456,3837.596,3768.564,3738.743,3683.004,3683.781,3681.867,3677.449,3694.65,3735.741,88.857,15634.977,4010.414,3938.677,3834.041,3799.497,52.348
43,203.10,2019,B,Projected,38,2025,,,,,,,,,,,,,,FALSE,2025,,,50704.098,35266.521,1539.099,3854.232,3787.269,3758.724,3764.472,3672.244,3696.142,3697.134,3701.216,3706.784,89.205,15437.577000000001,3981.567,3857.027,3752.013,3794.752,52.218
44,203.10,2019,B,Projected,39,2026,,,,,,,,,,,,,,FALSE,2026,,,50671.512,35451.839,1544.588,3867.977,3803.719,3777.38,3784.591,3753.474,3684.566,3711.468,3721.029,3713.372,89.675,15219.673,3950.705,3829.283,3674.233,3713.565,51.887
45,203.10,2019,B,Projected,40,2027,,,,,,,,,,,,,,FALSE,2027,,,50734.28600000001,35640.988000000005,1549.045,3879.137,3817.327,3793.786,3803.375,3773.534,3766.069,3699.844,3735.456,3733.25,90.165,15093.298,3957.726,3799.601,3647.803,3636.582,51.586
46,203.10,2019,B,Projected,41,2028,,,,,,,,,,,,,,FALSE,2028,,,50884.959,35818.113,1552.479,3887.738,3828.391,3807.359,3819.895,3792.263,3786.196,3781.685,3723.757,3747.724,90.626,15066.846000000001,3978.912,3806.354,3619.529,3610.423,51.628
47,203.10,2019,B,Projected,42,2029,,,,,,,,,,,,,,FALSE,2029,,,51068.064000000006,35986.912000000004,1555.049,3894.174,3836.934,3818.395,3833.561,3808.734,3804.988,3801.896,3806.126,3735.987,91.068,15081.152,3994.338,3826.73,3625.961,3582.438,51.685

In [8]:
tab.cell_info

Empty DataFrame
Columns: [digest_table_id, digest_table_year, digest_table_sub_id, digest_table_sub_title, row_index, column_index, cell_note]
Index: []

In [9]:
data = pd.DataFrame({'A': ['the admini-stration', 'Baccalaure-ate', 'degrees'],'B': ['abc', 'bar', 'xyz']})

In [10]:
data

                     A    B
0  the admini-stration  abc
1       Baccalaure-ate  bar
2              degrees  xyz

In [11]:
df = pd.read_csv("scraping_dictionary.csv")

In [12]:
dic = dict(zip(df['hyphenated'], df['corrected']))

In [13]:
data.replace(dic, regex=True)

                    A    B
0  the administration  abc
1       Baccalaureate  bar
2             degrees  xyz

In [14]:
dic

{'admini-stration': 'administration',
 'adminis-tration': 'administration',
 'adminis-trative': 'administrative',
 'Alterna-tive': 'Alternative',
 'appro-priations': 'appropriations',
 "Assoc-iate's": "Associate's",
 'Bac-calaur-eate': 'Baccalaureate',
 'Baccalaure-ate': 'Baccalaureate',
 "Bache-lor's": "Bachelor's",
 'Com-bined': 'Combined',
 'con-trol': 'control',
 'coordi-nators': 'coordinators',
 'counsel-ors': 'counselors',
 'de-grees': 'degrees',
 'Dis-tant': 'Distant',
 'dis-tricts': 'districts',
 "Doc-tor's": "Doctor's",
 'Doc-toral': 'Doctoral',
 'educa-tion': 'education',
 'Elemen-tary': 'Elementary',
 'enroll-ment': 'enrollment',
 'Enter-prise': 'Enterprise',
 'enter-prises': 'enterprises',
 'ethnic-ities': 'ethnicities',
 'expen-ditures': 'expenditures',
 'expendi-ture': 'expenditure ',
 'His-panic': 'Hispanic',
 'In-terest': 'Interest',
 'Indepen-dent': 'Independent',
 'insti-tutions': 'institutions',
 'institu-tion': 'institution',
 'Instruc-tion ': 'Instruction ',
 'Instruc-tional': 'Instructional',
 'Islan-der': 'Islander',
 'Kinder-garten': 'Kindergarten',
 'Librar-ians': 'Librarians',
 'main-tenance': 'maintenance',
 "Mas-ter's": "Master's ",
 'Mid-size': 'Midsize',
 'Nonresi-dent': 'Nonresident',
 'opera-tions': 'operations',
 'out-lay': 'outlay',
 'Per-cent ': 'Percent ',
 'per-centile': 'percentile',
 'per-manent': 'permanent',
 'Pre-kindergarten': 'Prekindergarten',
 'Prekin-dergar-ten': 'Prekindergarten',
 'Prekin-dergarten': 'Prekindergarten',
 'Prekinder-garten': 'Prekindergarten',
 'Profes-sor': 'Professor',
 'Re-mote': 'Remote',
 'resi-dent': 'resident',
 'Secon-dary ': 'Secondary',
 'Second-ary': 'Secondary',
 'ser-vice': 'service',
 'Stu-dents': 'Students',
 'sup-port': 'support',
 'transpor-tation': 'transportation',
 'univer-sity': 'university'}