In [1]:
import numpy as np
import pandas as pd
import re
import os
from table import Table

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
tabn = '105.30'
tab = Table('100tables/tabn' + tabn + '.xls', '2019')

In [4]:
tab.table_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,digest_table_sub_title_note,has_SE,location_in,year_in,year,location,location_info,table_title,headnote,stub_head,general_note,source_note,last_prepared
0,105.30,2019,A,,,FALSE,Title,Row,,United States,,"Enrollment in elementary, secondary, and degre...",[In thousands],Year,Data for 1869-70 through 1949-50 reflect enrol...,"U.S. Department of Education, National Center ...",This table was prepared December 2019.

In [5]:
tlines = tab.title_lines
cols = list(range(0,tab.sheet.ncols))
header = pd.read_excel(tab.filename,
                        skiprows=tlines,
                        header=None,
                        nrows=tab.header_lines - tlines,
                        usecols=cols
                        )

In [6]:
header

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Year,"Total enroll-ment, all levels",NaN,"Elemen-tary and secon-dary, total",NaN,Public elementary and secondary schools,NaN,NaN,NaN,NaN,Private elementary and secondary schools\1\,NaN,NaN,NaN,NaN,NaN,Degree-granting postsecondary institutions\2\,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Total,NaN,Prekinder- garten through grade 8\3\,NaN,Grades 9 through 12\3\,Total,NaN,Prekinder-garten through grade 8,NaN,Grades 9 through 12,NaN,Total,Public,Private

In [7]:
header = header.iloc[:, 1:]
header

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"Total enroll-ment, all levels",NaN,"Elemen-tary and secon-dary, total",NaN,Public elementary and secondary schools,NaN,NaN,NaN,NaN,Private elementary and secondary schools\1\,NaN,NaN,NaN,NaN,NaN,Degree-granting postsecondary institutions\2\,NaN,NaN
1,NaN,NaN,NaN,NaN,Total,NaN,Prekinder- garten through grade 8\3\,NaN,Grades 9 through 12\3\,Total,NaN,Prekinder-garten through grade 8,NaN,Grades 9 through 12,NaN,Total,Public,Private

In [8]:
header = header.ffill(axis=0).ffill(axis=1)
header

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,"Total enroll-ment, all levels","Total enroll-ment, all levels","Elemen-tary and secon-dary, total","Elemen-tary and secon-dary, total",Public elementary and secondary schools,Public elementary and secondary schools,Public elementary and secondary schools,Public elementary and secondary schools,Public elementary and secondary schools,Private elementary and secondary schools\1\,Private elementary and secondary schools\1\,Private elementary and secondary schools\1\,Private elementary and secondary schools\1\,Private elementary and secondary schools\1\,Private elementary and secondary schools\1\,Degree-granting postsecondary institutions\2\,Degree-granting postsecondary institutions\2\,Degree-granting postsecondary institutions\2\
1,"Total enroll-ment, all levels","Total enroll-ment, all levels","Elemen-tary and secon-dary, total","Elemen-tary and secon-dary, total",Total,Total,Prekinder- garten through grade 8\3\,Prekinder- garten through grade 8\3\,Grades 9 through 12\3\,Total,Total,Prekinder-garten through grade 8,Prekinder-garten through grade 8,Grades 9 through 12,Grades 9 through 12,Total,Public,Private

In [9]:
pd.MultiIndex.from_arrays(header.values)

MultiIndex(levels=[['Degree-granting postsecondary institutions\2\', 'Elemen-tary and secon-dary, total', 'Private elementary and secondary schools\1\', 'Public elementary and secondary schools', 'Total enroll-ment, all levels'], ['Elemen-tary and secon-dary, total', 'Grades 9 through 12', 'Grades 9 through 12\3\', 'Prekinder- garten through grade 8\3\', 'Prekinder-garten through grade 8', 'Private', 'Public', 'Total', 'Total enroll-ment, all levels']],
           codes=[[4, 4, 1, 1, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 0, 0, 0], [8, 8, 0, 0, 7, 7, 3, 3, 2, 7, 7, 4, 4, 1, 1, 7, 6, 5]])

In [10]:
header = pd.MultiIndex.from_arrays(header.values)

In [11]:
col_info = header.to_frame(index=False)

In [12]:
col_info

,0,1
0,"Total enroll-ment, all levels","Total enroll-ment, all levels"
1,"Total enroll-ment, all levels","Total enroll-ment, all levels"
2,"Elemen-tary and secon-dary, total","Elemen-tary and secon-dary, total"
3,"Elemen-tary and secon-dary, total","Elemen-tary and secon-dary, total"
4,Public elementary and secondary schools,Total
5,Public elementary and secondary schools,Total
6,Public elementary and secondary schools,Prekinder- garten through grade 8\3\
7,Public elementary and secondary schools,Prekinder- garten through grade 8\3\
8,Public elementary and secondary schools,Grades 9 through 12\3\
9,Private elementary and secondary schools\1\,Total
10,Private elementary and secondary schools\1\,Total
11,Private elementary and secondary schools\1\,Prekinder-garten through grade 8
12,Private elementary and secondary schools\1\,Prekinder-garten through grade 8
13,Private elementary and secondary schools\1\,Grades 9 through 12
14,Private elementary and secondary schools\1\,Grades 9 through 12
15,Degree-granting postsecondary institutions\2\,Total
16,Degree-granting postsecondary institutions\2\,Public
17,Degree-granting postsecondary institutions\2\,Private

In [13]:
is_duplicate = col_info.apply(lambda row: row.duplicated(), axis=1)
col_info = col_info.where(~is_duplicate, "")
col_info

,0,1
0,"Total enroll-ment, all levels",
1,"Total enroll-ment, all levels",
2,"Elemen-tary and secon-dary, total",
3,"Elemen-tary and secon-dary, total",
4,Public elementary and secondary schools,Total
5,Public elementary and secondary schools,Total
6,Public elementary and secondary schools,Prekinder- garten through grade 8\3\
7,Public elementary and secondary schools,Prekinder- garten through grade 8\3\
8,Public elementary and secondary schools,Grades 9 through 12\3\
9,Private elementary and secondary schools\1\,Total
10,Private elementary and secondary schools\1\,Total
11,Private elementary and secondary schools\1\,Prekinder-garten through grade 8
12,Private elementary and secondary schools\1\,Prekinder-garten through grade 8
13,Private elementary and secondary schools\1\,Grades 9 through 12
14,Private elementary and secondary schools\1\,Grades 9 through 12
15,Degree-granting postsecondary institutions\2\,Total
16,Degree-granting postsecondary institutions\2\,Public
17,Degree-granting postsecondary institutions\2\,Private

In [14]:
col_info.shape

(18, 2)

In [15]:
for n in range(col_info.shape[1], 7):
    col_info.insert(n, n, "")

In [16]:
col_info.columns = [f"column_level_{col+1}" for col in col_info.columns]

In [17]:
col_info

,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7
0,"Total enroll-ment, all levels",,,,,,
1,"Total enroll-ment, all levels",,,,,,
2,"Elemen-tary and secon-dary, total",,,,,,
3,"Elemen-tary and secon-dary, total",,,,,,
4,Public elementary and secondary schools,Total,,,,,
5,Public elementary and secondary schools,Total,,,,,
6,Public elementary and secondary schools,Prekinder- garten through grade 8\3\,,,,,
7,Public elementary and secondary schools,Prekinder- garten through grade 8\3\,,,,,
8,Public elementary and secondary schools,Grades 9 through 12\3\,,,,,
9,Private elementary and secondary schools\1\,Total,,,,,
10,Private elementary and secondary schools\1\,Total,,,,,
11,Private elementary and secondary schools\1\,Prekinder-garten through grade 8,,,,,
12,Private elementary and secondary schools\1\,Prekinder-garten through grade 8,,,,,
13,Private elementary and secondary schools\1\,Grades 9 through 12,,,,,
14,Private elementary and secondary schools\1\,Grades 9 through 12,,,,,
15,Degree-granting postsecondary institutions\2\,Total,,,,,
16,Degree-granting postsecondary institutions\2\,Public,,,,,
17,Degree-granting postsecondary institutions\2\,Private,,,,,

In [18]:
tab.title_lines

2

In [19]:
tab.sheet.cell_value(1,0)

' [In thousands]'

In [20]:
tab.col_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,column_index,is_standard_error,is_dollar,format_string,year,location,location_type,column_level_1,column_level_2,column_level_3,column_level_4,column_level_5,column_level_6,column_level_7,column_ref_note_1,column_ref_note_2,column_ref_note_3,column_ref_note_4,column_ref_note_5,column_ref_note_6,column_ref_note_7
0,105.30,2019,A,,A,FALSE,,,,,,"Total enrollment, all levels",,,,,,,,,,,,,
1,105.30,2019,A,,B,FALSE,,,,,,"Elementary and secon-dary, total",,,,,,,,,,,,,
2,105.30,2019,A,,C,FALSE,,,,,,Public elementary and secondary schools,Total,,,,,,,,,,,,
3,105.30,2019,A,,D,FALSE,,,,,,Public elementary and secondary schools,Prekindergarten through grade 8,,,,,,,Total counts of ungraded students were prorate...,,,,,
4,105.30,2019,A,,E,FALSE,,,,,,Public elementary and secondary schools,Grades 9 through 12,,,,,,,Total counts of ungraded students were prorate...,,,,,
5,105.30,2019,A,,F,FALSE,,,,,,Private elementary and secondary schools,Total,,,,,,"Beginning in fall 1985, data include estimates...",,,,,,
6,105.30,2019,A,,G,FALSE,,,,,,Private elementary and secondary schools,Prekindergarten through grade 8,,,,,,"Beginning in fall 1985, data include estimates...",,,,,,
7,105.30,2019,A,,H,FALSE,,,,,,Private elementary and secondary schools,Grades 9 through 12,,,,,,"Beginning in fall 1985, data include estimates...",,,,,,
8,105.30,2019,A,,I,FALSE,,,,,,Degree-granting postsecondary institutions,Total,,,,,,Data for 1869-70 through 1949-50 include resid...,,,,,,
9,105.30,2019,A,,J,FALSE,,,,,,Degree-granting postsecondary institutions,Public,,,,,,Data for 1869-70 through 1949-50 include resid...,,,,,,
10,105.30,2019,A,,K,FALSE,,,,,,Degree-granting postsecondary institutions,Private,,,,,,Data for 1869-70 through 1949-50 include resid...,,,,,,

In [21]:
tab.row_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,row_index,row_level_1,row_ref_note_1,row_level_2,row_ref_note_2,row_level_3,row_ref_note_3,row_level_4,row_ref_note_4,row_level_5,row_ref_note_5,row_level_6,row_ref_note_6,row_level_7,row_ref_note_7,is_total,year,location,location_type,A,B,C,D,E,F,G,H,I,J,K
5,105.30,2019,A,,1,1869-70,,,,,,,,,,,,,,FALSE,1869-70,,,---,---,6872,6792,80.0,---,---,---,52.286,---,---
6,105.30,2019,A,,2,1879-80,,,,,,,,,,,,,,FALSE,1879-80,,,---,---,9867.505,9757.228,110.277,---,---,---,115.817,---,---
7,105.30,2019,A,,3,1889-90,,,,,,,,,,,,,,FALSE,1889-90,,,14490.568,14333.812,12722.581,12519.618,202.963,1611.231,1516.3,94.931,156.756,---,---
8,105.30,2019,A,,4,1899-1900,,,,,,,,,,,,,,FALSE,1899-1900,,,17092.424000000003,16854.832000000002,15503.11,14983.859,519.251,1351.722,1240.925,110.797,237.592,---,---
9,105.30,2019,A,,5,1909-10,,,,,,,,,,,,,,FALSE,1909-10,,,19727.502000000004,19372.289000000004,17813.852000000003,16898.791,915.061,1558.4370000000001,1441.037,117.4,355.213,---,---
10,105.30,2019,A,,6,1919-20,,,,,,,,,,,,,,FALSE,1919-20,,,23875.677,23277.797,21578.316,19377.927,2200.389,1699.481,1485.561,213.92,597.88,---,---
11,105.30,2019,A,,7,1929-30,,,,,,,,,,,,,,FALSE,1929-30,,,29429.796000000002,28329.059,25678.015,21278.593,4399.422,2651.044,2309.886,341.158,1100.737,---,---
12,105.30,2019,A,,8,1939-40,,,,,,,,,,,,,,FALSE,1939-40,,,29538.792,28044.589,25433.542,18832.098,6601.444,2611.047,2153.279,457.768,1494.203,796.531,697.672
13,105.30,2019,A,,9,1949-50,,,,,,,,,,,,,,FALSE,1949-50,,,31150.587,28491.566,25111.427,19386.806,5724.621,3380.139,2707.777,672.362,2659.0209999999997,1354.902,1304.119
14,105.30,2019,A,,10,Fall 1959,,,,,,,,,,,,,,FALSE,Fall 1959,,,44496.79,40856.943,35182,26911,8271.0,5674.943,4639.696,1035.247,3639.8469999999998,2180.982,1458.865
15,105.30,2019,A,,11,Fall 1969,,,,,,,,,,,,,,FALSE,Fall 1969,,,59054.944,51050.284,45550.284,32513.403,13036.881,5500,4200,1300,8004.66,5896.868,2107.792
16,105.30,2019,A,,12,Fall 1985,,,,,,,,,,,,,,FALSE,Fall 1985,,,57226.015999999996,44978.960999999996,39421.960999999996,27034.244,12387.717,5557,4195,1362,12247.055,9479.273,2767.782
17,105.30,2019,A,,13,Fall 1990,,,,,,,,,,,,,,FALSE,Fall 1990,,,60683.10194801123,46864.46494801123,41216.683000000005,29875.914,11340.769,5647.781948011227,4512.120496094202,1135.661451917024,13818.637,10844.717,2973.92
18,105.30,2019,A,,14,Fall 1991,,,,,,,,,,,,,,FALSE,Fall 1991,,,62086.82975352462,47727.876753524615,42046.878,30502.523,11544.355,5680.998753524619,4549.854541999611,1131.1442115250081,14358.953,11309.563,3049.39
19,105.30,2019,A,,15,Fall 1992,,,,,,,,,,,,,,FALSE,Fall 1992,,,63180.90100176231,48693.54200176231,42823.312,31086.039,11737.273,5870.230001762309,4745.6719559998055,1124.5580457625042,14487.358999999999,11384.567,3102.792
20,105.30,2019,A,,16,Fall 1993,,,,,,,,,,,,,,FALSE,Fall 1993,,,63837.06797999999,49532.26497999999,43464.916,31501.847,11963.069,6067.348979999998,4949.559159999998,1117.78982,14304.803,11189.088,3115.715
21,105.30,2019,A,,17,Fall 1994,,,,,,,,,,,,,,FALSE,Fall 1994,,,64384.549049500005,50105.759049500004,44111.482,31896.076,12215.406,5994.2770495,4855.8465005,1138.4305490000002,14278.79,11133.68,3145.11
22,105.30,2019,A,,18,Fall 1995,,,,,,,,,,,,,,FALSE,Fall 1995,,,65020.305769,50758.524769,44840.481,32338.311,12502.17,5918.043769000001,4755.541261000001,1162.5025079999998,14261.780999999999,11092.374,3169.407
23,105.30,2019,A,,19,Fall 1996,,,,,,,,,,,,,,FALSE,Fall 1996,,,65911.1072995,51543.5872995,45611.046,32762.256,12848.79,5932.541299500001,4754.685156500001,1177.8561430000002,14367.52,11120.499,3247.021
24,105.30,2019,A,,20,Fall 1997,,,,,,,,,,,,,,FALSE,Fall 1997,,,66573.553024,52071.219024,46126.897,33071.02,13055.877,5944.322023999999,4759.060159,1185.261865,14502.334,11196.119,3306.215
25,105.30,2019,A,,21,Fall 1998,,,,,,,,,,,,,,FALSE,Fall 1998,,,67033.273896,52526.306896,46538.585,33343.733,13194.852,5987.721896000001,4775.580053500001,1212.1418425000002,14506.967,11137.769,3369.198
26,105.30,2019,A,,22,Fall 1999,,,,,,,,,,,,,,FALSE,Fall 1999,,,67725.119734,52875.428734,46857.149000000005,33486.444,13370.705,6018.279734,4788.986172,1229.293562,14849.690999999999,11375.739,3473.952
27,105.30,2019,A,,23,Fall 2000,,,,,,,,,,,,,,FALSE,Fall 2000,,,68685.20497650001,53372.91597650001,47203.539000000004,33686.421,13517.118,6169.376976500001,4905.7466565,1263.63032,15312.289,11752.786,3559.503
28,105.30,2019,A,,24,Fall 2001,,,,,,,,,,,,,,FALSE,Fall 2001,,,69919.503451,53991.516450999996,47671.869999999995,33935.922,13735.948,6319.646451,5023.163810999999,1296.4826400000002,15927.987000000001,12233.156,3694.831
29,105.30,2019,A,,25,Fall 2002,,,,,,,,,,,,,,FALSE,Fall 2002,,,71015.18338450001,54403.472384500004,48183.086,34114.245,14068.841,6220.3863845000005,4914.7674765,1305.6189080000001,16611.711,12751.993,3859.718
30,105.30,2019,A,,26,Fall 2003,,,,,,,,,,,,,,FALSE,Fall 2003,,,71550.916906,54639.435906000006,48540.215000000004,34200.741,14339.474,6099.2209060000005,4788.071818,1311.149088,16911.481,12858.698,4052.783
31,105.30,2019,A,,27,Fall 2004,,,,,,,,,,,,,,FALSE,Fall 2004,,,72154.221877235,54882.177877235,48795.465000000004,34177.565,14617.9,6086.712877235,4755.545695591032,1331.1671816439673,17272.043999999998,12980.112,4291.932
32,105.30,2019,A,,28,Fall 2005,,,,,,,,,,,,,,FALSE,Fall 2005,,,72674.01646484999,55186.541464849994,49113.297999999995,34203.962,14909.336,6073.24346485,4724.312994180001,1348.93047067,17487.475,13021.834,4465.641
33,105.30,2019,A,,29,Fall 2006,,,,,,,,,,,,,,FALSE,Fall 2006,,,73061.2665866,55307.0365866,49315.842,34234.751,15081.091,5991.1945866000015,4630.914277079887,1360.2803095201143,17754.23,13175.35,4578.88
34,105.30,2019,A,,30,Fall 2007,,,,,,,,,,,,,,FALSE,Fall 2007,,,73458.90722999998,55200.76922999999,49290.558999999994,34204.081,15086.478,5910.210230000001,4545.907225000001,1364.3030050000002,18258.138,13500.894,4757.244
35,105.30,2019,A,,31,Fall 2008,,,,,,,,,,,,,,FALSE,Fall 2008,,,74054.6369295,54972.9509295,49265.572,34285.564,14980.008,5707.3789295,4364.894251567599,1342.484677932401,19081.685999999998,13970.862,5110.824
36,105.30,2019,A,,32,Fall 2009,,,,,,,,,,,,,,FALSE,Fall 2009,,,75163.06705,54849.47305,49360.982,34409.26,14951.722,5488.4910500000005,4179.05803,1309.43302,20313.594,14810.768,5502.826
37,105.30,2019,A,,33,Fall 2010,,,,,,,,,,,,,,FALSE,Fall 2010,,,75886.003093,54866.565093,49484.181,34624.53,14859.651,5382.384093000001,4083.523825988599,1298.8602670114012,21019.438000000002,15142.171,5877.267
38,105.30,2019,A,,34,Fall 2011,,,,,,,,,,,,,,FALSE,Fall 2011,,,75800.346945,54789.756944999994,49521.668999999994,34772.751,14748.918,5268.087945,3976.956688,1291.131257,21010.59,15116.303,5894.287
39,105.30,2019,A,,35,Fall 2012,,,,,,,,,,,,,,FALSE,Fall 2012,,,75748.22804249999,55103.750042499996,49771.117999999995,35017.893,14753.225,5332.6320425,4030.5050425000004,1302.127,20644.478,14884.667,5759.811
40,105.30,2019,A,,36,Fall 2013,,,,,,,,,,,,,,FALSE,Fall 2013,,,75816.93814,55440.261139999995,50044.522,35250.792,14793.73,5395.73914,4083.85842,1311.88072,20376.677,14746.848,5629.829
41,105.30,2019,A,,37,Fall 2014,,,,,,,,,,,,,,FALSE,Fall 2014,,,76096.79439350001,55887.7023935,50312.581000000006,35369.694,14942.887,5575.121393499999,4202.111585812207,1373.0098076877923,20209.092,14654.66,5554.432
42,105.30,2019,A,,38,Fall 2015,,,,,,,,,,,,,,FALSE,Fall 2015,,,76176.767811,56188.563811,50438.043,35387.986,15050.057,5750.520811,4304.4654470000005,1446.0553639999998,19988.204,14572.843,5415.361
43,105.30,2019,A,,39,Fall 2016,,,,,,,,,,,,,,FALSE,Fall 2016,,,76215.636,56368.731999999996,50615.189,35477.332,15137.857,5753.543,4271.759,1481.784,19846.904000000002,14585.84,5261.064
44,105.30,2019,A,,40,Fall 2017,,,,,,,,,,,,,,FALSE,Fall 2017,,,76183.7051807,56405.554180700005,50685.567,35496.055,15189.512,5719.9871807,4251.9645812,1468.0225995,19778.150999999998,14571.739,5206.412
45,105.30,2019,A,,41,Fall 2018,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2018,,,76012.601,56366.683000000005,50649.828,35443.394,15206.434,5716.8550000000005,4212.712,1504.143,19645.917999999998,14529.264,5116.654
46,105.30,2019,A,,42,Fall 2019,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2019,,,76069.908,56349.788,50634.004,35401.82,15232.184,5715.784,4203.456,1512.328,19720.12,14585.525,5134.594999999999
47,105.30,2019,A,,43,Fall 2020,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2020,,,76112.016,56367.888000000006,50654.206000000006,35293.12,15361.086,5713.682,4182.69,1530.992,19744.128,14605.44,5138.688
48,105.30,2019,A,,44,Fall 2021,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2021,,,76121.75899999999,56343.467,50643.121,35094.063,15549.058,5700.346,4161.45,1538.896,19778.291999999998,14633.332999999999,5144.959
49,105.30,2019,A,,45,Fall 2022,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2022,,,76247.19399999999,56434.111,50721.176999999996,35018.636,15702.541,5712.933999999999,4170.878,1542.056,19813.083,14660.927,5152.156000000001
50,105.30,2019,A,,46,Fall 2023,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2023,,,76341.83300000001,56480.204000000005,50768.175,35022.019,15746.156,5712.029,4173.59,1538.439,19861.629,14698.31,5163.3189999999995
51,105.30,2019,A,,47,Fall 2024,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2024,,,76385.662,56459.537,50757.683,35122.706,15634.977,5701.853999999999,4186.58,1515.274,19926.124999999996,14746.847999999998,5179.276999999999
52,105.30,2019,A,,48,Fall 2025,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2025,,,76397.47200000001,56404.341,50704.098,35266.521,15437.577,5700.243,4203.839,1496.404,19993.131,14796.195,5196.936
53,105.30,2019,A,,49,Fall 2026,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2026,,,76440.695,56370.256,50671.51,35451.838,15219.672,5698.746000000001,4224.404,1474.342,20070.439,14853.739,5216.699999999999
54,105.30,2019,A,,50,Fall 2027,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2027,,,76538.098,56438.724,50734.286,35640.988,15093.298,5704.438,4244.766,1459.672,20099.374,14876.918000000001,5222.455999999999
55,105.30,2019,A,,51,Fall 2028,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2028,,,76714.154,56604.59,50884.96,35818.114,15066.846,5719.63,4263.487,1456.143,20109.564,14886.644,5222.92
56,105.30,2019,A,,52,Fall 2029,Projected data. Fall 2018 data for degree-gran...,,,,,,,,,,,,,FALSE,Fall 2029,,,76921.182,56806.447,51068.064,35986.912,15081.152,5738.383,4281.014,1457.369,20114.735,14892.884000000002,5221.851

In [22]:
tab.cell_info

,digest_table_id,digest_table_year,digest_table_sub_id,digest_table_sub_title,is_standard_error,is_dollar,format_string,row_index,column_index,cell_note
0,105.30,2019,A,,FALSE,,,1,A,Not available.
1,105.30,2019,A,,FALSE,,,1,B,Not available.
2,105.30,2019,A,,FALSE,,,1,F,Not available.
3,105.30,2019,A,,FALSE,,,1,G,Not available.
4,105.30,2019,A,,FALSE,,,1,H,Not available.
5,105.30,2019,A,,FALSE,,,1,J,Not available.
6,105.30,2019,A,,FALSE,,,1,K,Not available.
7,105.30,2019,A,,FALSE,,,2,A,Not available.
8,105.30,2019,A,,FALSE,,,2,B,Not available.
9,105.30,2019,A,,FALSE,,,2,F,Not available.
10,105.30,2019,A,,FALSE,,,2,G,Not available.
11,105.30,2019,A,,FALSE,,,2,H,Not available.
12,105.30,2019,A,,FALSE,,,2,J,Not available.
13,105.30,2019,A,,FALSE,,,2,K,Not available.
14,105.30,2019,A,,FALSE,,,3,J,Not available.
15,105.30,2019,A,,FALSE,,,3,K,Not available.
16,105.30,2019,A,,FALSE,,,4,J,Not available.
17,105.30,2019,A,,FALSE,,,4,K,Not available.
18,105.30,2019,A,,FALSE,,,5,J,Not available.
19,105.30,2019,A,,FALSE,,,5,K,Not available.
20,105.30,2019,A,,FALSE,,,6,J,Not available.
21,105.30,2019,A,,FALSE,,,6,K,Not available.
22,105.30,2019,A,,FALSE,,,7,J,Not available.
23,105.30,2019,A,,FALSE,,,7,K,Not available.
24,105.30,2019,A,,FALSE,,,11,F,Estimated.
25,105.30,2019,A,,FALSE,,,11,G,Estimated.
26,105.30,2019,A,,FALSE,,,11,H,Estimated.
27,105.30,2019,A,,FALSE,,,13,F,Estimated.
28,105.30,2019,A,,FALSE,,,13,G,Estimated.
29,105.30,2019,A,,FALSE,,,13,H,Estimated.
30,105.30,2019,A,,FALSE,,,15,F,Estimated.
31,105.30,2019,A,,FALSE,,,15,G,Estimated.
32,105.30,2019,A,,FALSE,,,15,H,Estimated.
33,105.30,2019,A,,FALSE,,,17,F,Estimated.
34,105.30,2019,A,,FALSE,,,17,G,Estimated.
35,105.30,2019,A,,FALSE,,,17,H,Estimated.
36,105.30,2019,A,,FALSE,,,19,F,Estimated.
37,105.30,2019,A,,FALSE,,,19,G,Estimated.
38,105.30,2019,A,,FALSE,,,19,H,Estimated.
39,105.30,2019,A,,FALSE,,,21,F,Estimated.
40,105.30,2019,A,,FALSE,,,21,G,Estimated.
41,105.30,2019,A,,FALSE,,,21,H,Estimated.
42,105.30,2019,A,,FALSE,,,23,F,Estimated.
43,105.30,2019,A,,FALSE,,,23,G,Estimated.
44,105.30,2019,A,,FALSE,,,23,H,Estimated.
45,105.30,2019,A,,FALSE,,,25,F,Estimated.
46,105.30,2019,A,,FALSE,,,25,G,Estimated.
47,105.30,2019,A,,FALSE,,,25,H,Estimated.
48,105.30,2019,A,,FALSE,,,27,F,Estimated.
49,105.30,2019,A,,FALSE,,,27,G,Estimated.
50,105.30,2019,A,,FALSE,,,27,H,Estimated.
51,105.30,2019,A,,FALSE,,,29,F,Estimated.
52,105.30,2019,A,,FALSE,,,29,G,Estimated.
53,105.30,2019,A,,FALSE,,,29,H,Estimated.
54,105.30,2019,A,,FALSE,,,31,F,Estimated.
55,105.30,2019,A,,FALSE,,,31,G,Estimated.
56,105.30,2019,A,,FALSE,,,31,H,Estimated.
57,105.30,2019,A,,FALSE,,,33,F,Estimated.
58,105.30,2019,A,,FALSE,,,33,G,Estimated.
59,105.30,2019,A,,FALSE,,,33,H,Estimated.
60,105.30,2019,A,,FALSE,,,35,F,Estimated.
61,105.30,2019,A,,FALSE,,,35,G,Estimated.
62,105.30,2019,A,,FALSE,,,35,H,Estimated.
63,105.30,2019,A,,FALSE,,,37,F,Estimated.
64,105.30,2019,A,,FALSE,,,37,G,Estimated.
65,105.30,2019,A,,FALSE,,,37,H,Estimated.
66,105.30,2019,A,,FALSE,,,38,A,Includes imputations for public school prekind...
67,105.30,2019,A,,FALSE,,,38,B,Includes imputations for public school prekind...
68,105.30,2019,A,,FALSE,,,38,C,Includes imputations for public school prekind...
69,105.30,2019,A,,FALSE,,,38,D,Includes imputations for public school prekind...
70,105.30,2019,A,,FALSE,,,39,A,Includes imputations for public school prekind...
71,105.30,2019,A,,FALSE,,,39,B,Includes imputations for public school prekind...
72,105.30,2019,A,,FALSE,,,39,C,Includes imputations for public school prekind...
73,105.30,2019,A,,FALSE,,,39,D,Includes imputations for public school prekind...
74,105.30,2019,A,,FALSE,,,39,F,Estimated.
75,105.30,2019,A,,FALSE,,,39,G,Estimated.
76,105.30,2019,A,,FALSE,,,39,H,Estimated.
77,105.30,2019,A,,FALSE,,,40,A,Includes imputations for public school prekind...
78,105.30,2019,A,,FALSE,,,40,B,Includes imputations for public school prekind...
79,105.30,2019,A,,FALSE,,,40,C,Includes imputations for public school prekind...
80,105.30,2019,A,,FALSE,,,40,D,Includes imputations for public school prekind...